<template>
  <div id="parentdiv" >
    <form>
      <md-field
        v-for="(item , index) in fields"
        :id=item.name>
        <label>{{ item }}</label>
        <md-input readonly/>
        <md-button
          class="md-just-icon"
          @click="removeformfield(index)"
          style="margin: 0;">
          <md-icon>delete</md-icon>
          <md-tooltip class="md-direction-top">Remove Field</md-tooltip>
        </md-button>
      </md-field>
    </form>

    <div class="addbuttons">
      <div>
        <md-button
          id="btn1"
          @click="activeaddfield"
          class="md-fab md-accent md-raised md-icon-button"
          style="float: left; position: relative; background: none !important;color: #000 !important; box-shadow: none !important">
          <md-icon>add</md-icon>
        </md-button>
        <p>Add Field <span class="md-caption">(Click to add fields e.g. Name, Address etc)</span></p>
      </div>
      <div
        hidden="false"
        id="addfield">
        <md-field>
          <label>Type Name of the field</label>
          <md-input v-model="valueoffield"/>
        </md-field>
        <md-button
          class="md-primary"
          @click="addformfield">Create</md-button>
      </div>
    </div>
    <div
      class="addbuttons"
      id="signaturebox">
      <div>
        <md-button
          id="btn2"
          @click="addasignaturebox"
          class="md-fab md-accent md-raised md-icon-button"
          style="background: none !important;color: #000 !important; box-shadow: none !important">
          <md-icon >add</md-icon>
        </md-button>
        <p>{{ textforsigbox }} <span class="md-caption">(Click to add touch-aided signature pad)</span></p>
      </div>
    </div>
    <div class="addbuttons">
      <div>
        <md-button
          id="btn5"
          @click="activeprivacyoptions"
          class="md-fab md-accent md-raised md-icon-button"
          style="background: none !important;color: #000 !important; box-shadow: none !important">
          <md-icon >add</md-icon>
        </md-button>
        <p>Add Privacy Options <span class="md-caption">(Click to add privacy statement & if respondents wish to receive email & SMS messages)</span>
        </p>
      </div>
      <div
        hidden="false"
        style="width: 100%; float: left ; margin-left:5%; "
        id="addprivacyoptions">
        <!--<md-card-content style="    background-color: aliceblue;width: 90%;">{{privacystatement}}</md-card-content>-->
        <md-card-content style="     background-color: aliceblue;width: 90%;     height: 130px;">
          <textarea
            style="background: transparent; border: 0px; width: 100%; height: 100%;"
            v-model="privacystatement">{{ this.privacystatement }}</textarea>
        </md-card-content>
        <label class="container">I do want to recieve such electronic messages (email, sms)
          <input
            type="radio"
            checked="checked"
            name="r-check">
          <span class="checkmark"/>
        </label>

        <label class="container">I do not want to recieve such electronic messages (email, sms)
          <input
            type="radio"
            checked="checked"
            name="r-check">
          <span class="checkmark"/>
        </label>

      </div>
    </div>
    <div class="addbuttons">
      <div>
        <md-button
          id="btnn1"
          @click="activeauto"
          class="md-fab md-accent md-raised md-icon-button"
          style="background: none !important;color: #000 !important; box-shadow: none !important">
          <md-icon >add</md-icon>
        </md-button>
        <p>Add Auto-Acknowledge <span class="md-caption">(Click to add automated acknowledgement message sent as respondents submit filled forms)</span></p>
      </div>
      <div
        hidden="false"
        id="activeauto"
        style="width: 100%; float: left ; margin-left:5%; ">
        <div style="float: left; width: 100%">
          <md-button
            id="btnn4"
            class="md-primary"
            style="text-transform: none;"
            @click="onEditor">Acknowledgement by Email</md-button>
          <md-button
            id="btnn4"
            class="md-primary"
            style="text-transform: none;"
            @click="rendersmscomps">Acknowledgement by SMS</md-button>
        </div>
        <div style="float: left; width: 90%">

          <vue-editor
            v-model="Ackn_Email"
            v-if="showeEmailEditor"/>
          <div
            class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
            v-if="active2">
            <md-card>
              <md-card-header data-background-color="green">
                <h4 class="title">Make Schedule</h4>
              </md-card-header>
              <md-card-content>
                <md-datepicker>
                  <label>Pick Date</label>
                </md-datepicker>
                <md-field>
                  <vue-timepicker
                    title="Pick Time"
                    style="border: 0; width: 100%"/>
                </md-field>
              </md-card-content>
              <md-button
                @click="active2 = !active2"
                class="md-primary"
                style="float: right">Done</md-button>
            </md-card>
          </div>
          <!--<md-button id="two" class="md-primary" @click="active4 = !active4" v-if="ActiveScheduleRule">Xxx Hours After Registration</md-button>-->
          <!--<md-button id="three" class="md-primary" @click="active2 = !active2" v-if="ActiveScheduleRule">Schedule Send Data</md-button>-->
          <!--<md-button id="one" class="md-primary" @click="ScheduleRulepressed" v-if="showeEmailEditor">Schedule Rule</md-button>-->
          <md-button
            id="preview"
            class="md-primary"
            @click="previewformpressed"
            v-if="showeEmailEditor">Preview Form</md-button>
        </div>
        <!--<sms-component v-if="rendersmscomp"></sms-component>-->
        <div v-if="rendersmscomp" >
          <md-field>
            <label>Message</label>
            <md-textarea v-model="SmsMessage">{{ this.SmsMessage }}</md-textarea>
          </md-field>
        </div>
        <md-button
          id="preview"
          class="md-primary"
          @click="previewformpressed"
          v-if="rendersmscomp">Preview Form</md-button>
        <div
          class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
          v-if="showpreviewform">
          <md-card>
            <md-card-header data-background-color="green">
              <h4 class="title">Preview Of Form</h4>
            </md-card-header>
            <md-card-content>
              <preview-form
                :fields-add="this.fields"
                :signature-statuss="this.sigstatus"
                :privacystatement="this.privacystatement"
                :radiostatus="this.radiostatus"
                :radioactive="this.radioactive"
                :autoackn="this.autoackn"
                :autocomun="this.autocommun"
              />
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
    <div class="addbuttons">
      <!--<div>-->
      <!--<md-button id="btnan1" @click="activecommunication" class="md-fab md-accent custombutton">-->

      <!--<md-icon >add</md-icon>-->

      <!--</md-button>-->
      <!--<p>Add Other Auto Communication</p>-->
      <!--</div>-->
      <!--<div hidden="false" id="communication" style="width: 100%; float: left ; margin-left:5%; ">-->
      <!--<div style="float: left; width: 100%">-->
      <!--<md-button id="btnan5" class="md-primary" @click="addediterauto">Acknowledgment by Email</md-button>-->
      <!--<md-button id="btnan4" class="md-primary" @click="rendersmscompauto">Acknowledgment SMS</md-button>-->
      <!--</div>-->

      <!--<div style="float: left; width: 90%">-->

      <!--<vue-editor v-model="Comm_Email" v-if="showeEmailEditors"></vue-editor>-->

      <!--<div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100" v-if="active1" >-->
      <!--<md-card>-->
      <!--<md-card-header data-background-color="green">-->
      <!--<h4 class="title">Make Schedule</h4>-->
      <!--</md-card-header>-->
      <!--<md-card-content>-->
      <!--<md-datepicker>-->
      <!--<label>Pick Date</label>-->
      <!--</md-datepicker>-->
      <!--<md-field>-->
      <!--<vue-timepicker title="Pick Time" style="border: 0; width: 100%">-->
      <!--</vue-timepicker>-->
      <!--</md-field>-->
      <!--</md-card-content>-->
      <!--<md-button @click="active1 = !active1" class="md-primary" style="float: right">Done</md-button>-->
      <!--</md-card>-->
      <!--</div>-->
      <!--&lt;!&ndash;<md-button id="two" class="md-primary" @click="active3 = !active3" v-if="ActiveScheduleRule1">Xxx Hours After Registration</md-button>&ndash;&gt;-->
      <!--&lt;!&ndash;<md-button id="three" class="md-primary" @click="active1 = !active1" v-if="ActiveScheduleRule1">Schedule Send Data</md-button>&ndash;&gt;-->
      <!--&lt;!&ndash;<md-button id="one" class="md-primary" @click="ScheduleRulepressed1" v-if="showeEmailEditors">Schedule Rule</md-button>&ndash;&gt;-->
      <!--<md-button id="previewauto" class="md-primary" @click="previewformpressed" v-if="showeEmailEditors">Preview Form</md-button>-->
      <!--</div>-->
      <!--<sms-component v-if="rendersmsauto"></sms-component>-->
      <!--</div>-->
    </div>
    <md-dialog-prompt
      :md-active.sync="active3"
      v-model="value3"
      md-title="Enter Hours"
      md-input-maxlength="30"
      md-input-placeholder=""
      md-confirm-text="Done" />
    <md-dialog-prompt
      :md-active.sync="active4"
      v-model="value4"
      md-title="Enter Hours"
      md-input-maxlength="30"
      md-input-placeholder=""
      md-confirm-text="Done" />

    <md-button
      type="submit"
      @click="this.submitdyform"
      class="md-primary" >Create & Save Form</md-button>
    <!--<div id="puthere"></div>-->
    <md-dialog-alert
      :md-active.sync="first"
      md-title="Well done!"
      :md-content="successMessage"
      @md-closed="onClosedSuccessAlert" />
  </div>
</template>

<script>
import VueTimepicker from 'vue2-timepicker'
import axios from 'axios'
import SmsComponent from '../../components/SmsComponent.vue'
import PreviewForm from './PreviewForm'

import { VueEditor, Quill } from 'vue2-editor'
import MdCardExpand from '../../../node_modules/vue-material/src/components/MdCard/MdCardExpand/MdCardExpand'
import Tooltip from 'vue-mdl/src/tooltip'
export default {

  name: 'DynamicForm',
  props: {
    tableHeaderColor: {
      type: String,
      default: 'Green'
    },
    FormName: String,
    CreatedBy: String,
    CreationDate: String,
    PurposeOf: String,
    ActivityType: String,
    ActivationDate: String,
    IactivationDate: { type: String, default: '2018/12/12' },
    BrandOf: String
  },
  components: {
    Tooltip,
    MdCardExpand,
    VueTimepicker,
    SmsComponent,
    VueEditor,
    PreviewForm,
    'vue-country-select': require('vue-country-select')
  },

  data: () => ({
    first: false,

    Token: null,
    SmsMessage: 'Link will be attatched Automatically',
    formname: '',
    sigstatus: 'false',
    radiostatus: 'one',
    radioactive: 'false',
    autoackn: 'Email',
    autocommun: 'SMS',
    privacystatement: 'we re an organisation with a strict privacy policy. By submitting your details you are agreed to recieve occasional e-mails from us about events refresh and Special offers',
    option: {
      penColor: 'rgb(0, 0, 0)',
      backgroundColor: 'rgb(255,255,255)'
    },
    value0: null,
    value4: false,
    value3: false,
    active3: false,
    active4: false,
    value2: false,
    active2: false,
    active1: false,
    value1: false,
    valueoffield: null,
    signature: null,
    radio: false,
    textforradio: 'I do want to recieve such electronic messages (email, sms)',
    showeEmailEditor: false,
    rendersmscomp: false,
    rendersmsauto: false,
    showeEmailEditors: false,
    Ackn_Email: 'Email',
    Comm_Email: '',
    ActiveScheduleRule: false,
    ActiveScheduleRule1: false,
    textforsigbox: 'Click to add Signature Box',
    showpreviewform: false,
    signatures: [],
    fields: [],
    fieldconc: '',
    successMessage: ''
  }),
  methods: {
    submitdyform () {
      if (this.fields.length > 0) {
        var _this = this
        this.ActivationDate = this.ActivationDate.toString()
        this.IactivationDate = this.IactivationDate.toString()
        var stri3 = this.CreationDate.toString()
        stri3 = stri3.split('/').join('-')

        var i = 0
        while (this.fields.length > i) {
          this.fieldconc = this.fieldconc + '' + this.fields[i] + ','

          i++
        }

        let buff = new Buffer(this.Ackn_Email)
        let base64signature = buff.toString('base64')

        console.log(base64signature)
        var U_ID = localStorage.getItem('u_id')
        this.Token = localStorage.getItem('_token')
        this.privacystatement = this.privacystatement.split(' ').join('+')
        var urlforreq = `${process.env.VUE_APP_API_URI}/setdyform`
        // +
        //                    U_ID+'/'+this.fieldconc+'/'+this.sigstatus+'/'+
        //                    this.privacystatement+'/'+this.radiostatus+ '/'+
        //                    this.radioactive+'/'+this.FormName+'/'+
        //                    this.CreatedBy+'/'+stri3+'/'+this.PurposeOf+'/'+
        //                    this.ActivityType+'/'+this.ActivationDate +'/'+
        //                    this.IactivationDate+'/'+this.BrandOf+'/'+
        //                    this.Ackn_Email+'/'+this.SmsMessage;
        var datajson = {
          userid: U_ID,
          fields: this.fieldconc,
          sigstatus: this.sigstatus,
          pstatement: this.privacystatement,
          radiostatus: this.radiostatus,
          radioactive: this.radioactive,
          formname: this.FormName,
          createdby: this.CreatedBy,
          creationdate: stri3,
          purpose: this.PurposeOf,
          activitytype: this.ActivityType,
          activationdate: this.ActivationDate,
          iactivationdate: this.IactivationDate,
          brandof: this.BrandOf,
          ackn_email: this.Ackn_Email,
          smsmessage: this.SmsMessage
        }
        axios.post(urlforreq, datajson, {
          headers: {
            Authorization: 'Bearer ' + this.Token
          }
        }).then(function (response) {
          console.log(response.data)
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear()
            _this.$router.push('login')
          }
          if (response.data == 'Form Created') {
            _this.successMessage = 'Your Form <strong> ' + _this.FormName + ' </strong> has been created.'
            _this.first = true
            _this.fields = []
          } else {
            _this.failed = true
          }
        })
      } else {
        alert('Add Atleast 1 field')
      }
    },
    previewformpressed () {
      this.showpreviewform = !this.showpreviewform
    },
    clear () {
      var _this = this
      _this.$refs.signature.clear()
    },
    undo () {
      var _this = this
      _this.$refs.signature.undo()
    },
    ScheduleRulepressed1 () {
      this.ActiveScheduleRule1 = !this.ActiveScheduleRule1
      this.active1 = false
      this.active3 = false
    },
    ScheduleRulepressed () {
      this.ActiveScheduleRule = !this.ActiveScheduleRule
      this.active2 = false
      this.active4 = false
    },
    addediterauto () {
      this.showeEmailEditors = !this.showeEmailEditors
      this.rendersmsauto = false
    },
    rendersmscompauto () {
      this.rendersmsauto = !this.rendersmsauto
      this.showeEmailEditors = false
    },
    rendersmscomps () {
      this.showeEmailEditor = false
      this.showpreviewform = false
      this.rendersmscomp = !this.rendersmscomp
    },
    onEditor () {
      this.showeEmailEditor = !this.showeEmailEditor
      this.showpreviewform = false
      this.rendersmscomp = false
    },

    activecommunication () {
      if (document.getElementById('communication').hidden == false) { document.getElementById('communication').hidden = true } else { document.getElementById('communication').hidden = false }
    },
    activeauto () {
      if (document.getElementById('activeauto').hidden == false) { document.getElementById('activeauto').hidden = true } else {
        document.getElementById('activeauto').hidden = false
        this.showpreviewform = false
      }
    },
    activeprivacyoptions () {
      if (document.getElementById('addprivacyoptions').hidden == false) {
        document.getElementById('addprivacyoptions').hidden = true
        this.radioactive = false
      } else {
        document.getElementById('addprivacyoptions').hidden = false
        this.radioactive = 'active'
      }
    },
    activesignature () {
      if (document.getElementById('addsignature').hidden == false) { document.getElementById('addsignature').hidden = true } else { document.getElementById('addsignature').hidden = false }
    },
    activeaddfield () {
      if (document.getElementById('addfield').hidden == false) { document.getElementById('addfield').hidden = true } else { document.getElementById('addfield').hidden = false }
    },
    addasignaturebox () {
      if (this.signatures.length > 0) {
        this.signatures.pop()
        this.textforsigbox = 'Click To Add Signature Box'
        this.sigstatus = false
      } else {
        this.signatures.push({
          name: this.value0
        })
        this.textforsigbox = 'Signature Box Added (Press To Remove)'
        this.sigstatus = 'active'
      }
    },
    removeasignaturebox (val) {
      if (val != null) { this.$delete(this.signatures, val) }
      document.getElementById('signaturebox').hidden = false
    },
    addformfield () {
      console.log(this.valueoffield)

      if (this.valueoffield != null) {
        this.fields.push(
          this.valueoffield
        )
      }

      this.valueoffield = null
      console.log(this.fields)
    },
    removeformfield (val) {
      if (val != null) { this.$delete(this.fields, val) }
    },
    // greetsignature(){
    //     this.fields.push({
    //         name:this.signature,
    //     });
    // },
    onClosedSuccessAlert () {
      this.$emit('showFormCreatedSuccessMessage')
    }
  }

}

</script>

<style scoped>
    .md-button{
        float: left;
    }
    .addbuttons{
        width: 100%;
        float: left;
    }

    .addbuttons .md-ripple {
      background: none !important;
      color: #000 !important;
    }

    .addbuttons .md-ripple .md-button-content i{
      color: #000 !important;
      font-size: 2rem !important;
    }
    .custombutton{

    }
    p{
        float: left;
        line-height: 4;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 2%;
    }

    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

    .time-picker input.display-time{
         border : 0px !important;
        width: 100% !important;
    }

    .activatesignaturebutton{
        background-color: rebeccapurple !important;
    }
    .md-field{
        width:95%;
    }

</style>
