<template>
  <div>
    <form>
      <md-field
        v-for="(item , index) in this.FieldsAdd"
        :id=item.name>
        <label>{{ item }}</label>
        <md-input v-model="inputv[index]"/>
      </md-field>
      <div
        id="sigstatus"
        v-if="SignatureStatuss">
        <md-field>
          <label>Signature</label>
          <vueSignature
            id="signatures"
            ref="signature"
            :sig-option="option"
            style="border: 1px solid #d2d2d2; max-width: 800px;"/>
          <md-button
            class="md-just-icon md-danger"
            @click="clear">
            <md-icon>delete</md-icon>
            <md-tooltip>Clear</md-tooltip>
          </md-button>
          <md-button
            class="md-just-icon"
            @click="undo">
            <md-icon>undo</md-icon>
            <md-tooltip>Undo</md-tooltip>
          </md-button>
        </md-field>
      </div>
      <div
        id="hideit"
        v-if="radioactive">
        <div
          style="width: 100%; float: left ; margin-left:5%; "
          id="addprivacyoptions">
          <md-card-content style="     background-color: aliceblue;width: 90%;     height: 130px;">
            <textarea
              readonly
              style="background: transparent; border: 0px; width: 100%; height: 100%; ">{{ this.privacystatement }}</textarea>
          </md-card-content>
          <!--<div>-->
          <!--<md-radio v-model="radio" value="accent">I do want to recieve such electronic messages (email, sms)</md-radio>-->
          <!--<md-radio v-model="radio" value="accent">I do want to recieve such electronic messages (email, sms)</md-radio>-->
          <label class="container">I do want to recieve such electronic messages (email, sms)
            <input
              type="radio"
              checked="checked"
              name="r-check"
              value=true
              v-model="radiov">
            <span class="checkmark"/>
          </label>
          <!--<md-radio v-model="radio" value="Primary" class="md-primary">I do not want to recieve such electronic messages (email, sms)</md-radio>-->
          <!--</div>-->
          <label class="container">I do not want to recieve such electronic messages (email, sms)
            <input
              type="radio"
              checked="checked"
              name="r-check"
              value=false
              v-model="radiov">
            <span class="checkmark"/>
          </label>
        </div>
      </div>
      <div v-if="PreviewFormStatus">
        <md-button
          class="md-primary "
          id="btn"
          @click="conversignature">Submit</md-button>
      </div>
      <div v-if="!PreviewFormStatus">
        <md-button
          class="md-primary disabled"
          id="btn"
          @click="conversignature">Submit</md-button>
      </div>
    </form>
    <md-dialog-alert
      :md-active.sync="first"
      md-title="Form Submitted!"
      md-content="Thank you for filling the form." />
  </div>
</template>

<script>
import axios from 'axios'
export default {

  name: 'PreviewForm',
  props: {
    CreatorId: { type: String, default: '-1' },
    DistributorId: { type: String, default: '-1' },
    UserEmail: { type: String, default: '-1' },
    PreviewFormStatus: { type: Boolean, default: false },
    FormId: { type: String, default: '-1' },
    FieldsAdd: Array,
    SignatureStatuss: { type: Boolean, default: false },
    privacystatement: { type: String, default: '-1' },
    radiostatus: { type: String, default: '-1' },
    radioactive: { type: Boolean, default: false },
    autoackn: { type: String, default: '' },
    autocommun: { type: String, default: '' }
  },
  data: () => ({
    first: false,
    radiov: true,
    inputv: [],
    result: null,
    option: { penColor: 'rgb(0, 0, 0)', backgroundColor: 'rgb(255,255,255)' },
    convertedsig: ''
  }),
  mounted: function () {
    // document.getElementById('hideit').hidden=this.TextFR;
    document.getElementById('btn').isDisabled = false
  },
  methods: {
    conversignature () {
      this.signature = this.save()
      var truth = 0
      if (this.inputv.length < 1) {
        alert('fill the fields')
        truth = 1
      }
      if (this.radioactive == 'true') {
        alert('')
        truth = 1
      }
      if (truth == 0) {
        this.submitform(this.signature)
      }
    },
    submitform (sig) {
      //                console.log(this.CreatorId);
      //                console.log(this.DistributorId);
      var FormID = this.FormId
      var invs = ''
      var invs = this.inputv.toString()
      var that = this
      var dialo = false
      var _this = this
      var U_ID = localStorage.getItem('u_id')
      this.Token = localStorage.getItem('_token')
      console.log('token=====>')
      console.log(this.Token)
      var urlforreq = `${process.env.VUE_APP_API_URI}/setfilledform`
      var datajson = {
        signature: sig,
        FormID: FormID,
        type: 'dy',
        radio: this.radiov,
        Inputs: invs,
        UserEmail: this.UserEmail,
        creatorid: this.CreatorId,
        distributorid: this.DistributorId
      }
      console.log('data to send')
      console.log(datajson)
      axios.post(urlforreq, datajson, {
        headers: {
          Authorization: 'Bearer ' + this.Token // the token is a variable which holds the token
        }
      }).then(function (response) {
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear()
          _this.$router.push('login')
        }
        if (response.data == 'Added') {
          that.first = true
        }
      })
    },
    justtosend (s) {
      this.convertedsig = s
      //                console.log(this.convertedsig)
    },
    save () {
      var _this = this
      if (_this.$refs.signature != null) {
        var png = _this.$refs.signature.save()
        var jpeg = _this.$refs.signature.save('image/jpeg')
        var svg = _this.$refs.signature.save('image/svg+xml')
        //                    console.log(jpeg);
        return jpeg
      }
    },
    clear () {
      var _this = this
      //                console.log(_this.$refs.signature);
      _this.$refs.signature.clear()
    },
    undo () {
      var _this = this
      _this.$refs.signature.undo()
    },
    addWaterMark () {
      var _this = this
      _this.$refs.signature.addWaterMark({
        text: 'mark text', // watermark text, > default ''
        font: '20px Arial', // mark font, > default '20px sans-serif'
        style: 'all', // fillText and strokeText,  'all'/'stroke'/'fill', > default 'fill
        fillStyle: 'red', // fillcolor, > default '#333'
        strokeStyle: 'blue', // strokecolor, > default '#333'
        x: 100, // fill positionX, > default 20
        y: 200, // fill positionY, > default 20
        sx: 100, // stroke positionX, > default 40
        sy: 200 // stroke positionY, > default 40
      })
    },
    fromDataURL (url) {
      var _this = this
      _this.$refs.signature.fromDataURL('data:image/png;base64,iVBORw0K...')
    }
  }
}
</script>

<style scoped>
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #ccc;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

    .time-picker input.display-time{
        border : 0px !important;
        width: 100% !important;
    }

    .activatesignaturebutton{
        background-color: rebeccapurple !important;
    }
    .md-radio {
        display: flex;
    }
</style>
