<template>
  <div>

    <form
      novalidate
      v-if="!CreateFormFieldClicked"
      @submit.prevent="submitform">

      <md-field>
        <label>Title</label>
        <md-input
          name="title"
          id="title"
          v-model="title"/>
      </md-field>
      <md-field>
        <label>First Name</label>
        <md-input
          name="f_name"
          id="f_name"
          v-model="f_name"/>
      </md-field><md-field>
        <label>Last Name</label>
        <md-input
          name="l_name"
          id="l_name"
          v-model="l_name"/>
      </md-field><md-field>
        <label>Place of work</label>
        <md-input
          name="p_work"
          id="p_work"
          v-model="p_work"/>
      </md-field><md-field>
        <label>Phone Number</label>
        <md-input
          name="number"
          id="number"
          v-model="number"/>
      </md-field><md-field>
        <label>Email</label>
        <md-input
          name="email"
          id="email"
          v-model="email"/>
      </md-field><md-field>
        <label>Address</label>
        <md-input
          name="address"
          id="address"
          v-model="address"/>
      </md-field><md-field>
        <label>State</label>
        <md-input
          name="state"
          id="state"
          v-model="state"/>
      </md-field>
      <div
        class="md-layout-item md-small-size-100"
        style="padding: 0; width: 50%;">
        <md-field>
          <label >Country</label>
          <md-select
            name="country"
            id="country"
            v-model="selectedcountry">
            <md-option
              v-for="item in country"
              :value="item.name" >{{ item.name }}</md-option>
          </md-select>
          <span class="md-error">The gender is required</span>
        </md-field>
      </div>
      <md-field>
        <vueSignature
          ref="signature"
          :sig-option="option"
          :w="'800px'"
          :h="'200px'"
          style="border: 1px solid #d2d2d2"/>
      </md-field>
      <md-button
        class="md-just-icon md-danger"
        @click="clear">
        <md-icon>delete</md-icon>
        <md-tooltip>Clear</md-tooltip>
      </md-button>
      <md-button
        class="md-just-icon"
        @click="undo">
        <md-icon>undo</md-icon>
        <md-tooltip>Undo</md-tooltip>
      </md-button>
      <md-card-actions>
        <md-button
          type="submit"
          class="md-primary">Create Form</md-button>
      </md-card-actions>
    </form>
    <!--<dynamic-form v-if="CreateFormFieldClicked">-->
    <!--</dynamic-form>-->
    <md-dialog-alert
      :md-active.sync="first"
      @md-closed="onCloseSuccessAlert"
      md-title="Form Submitted!"
      md-content="Your Form <strong>IprofilerPro</strong> has been saved." />
  </div>
</template>

<script>
import {
  DynamicForm
} from '@/components'
import axios from 'axios'
import MdDialogAlert from '../../../node_modules/vue-material/src/components/MdDialog/MdDialogAlert/MdDialogAlert'
export default {
  name: 'SimpleTable',
  props: {
    tableHeaderColor: {
      type: String,
      default: ''
    },
    currentFlow: String
  },
  data: () => ({
    Token: null,
    option: {
      penColor: 'rgb(0, 0, 0)',
      backgroundColor: 'rgb(255,255,255)'
    },
    CreateFormFieldClicked: false,
    result: null,
    country: [
      { name: 'Afghanistan' },
      { name: 'Åland Islands' },
      { name:
            'Albania' }, { name:
            'Algeria' }, { name:
            'American Samoa' }, { name:
            'Andorra' }, { name:
            'Angola' }, { name:
            'Anguilla' }, { name:
            'Antarctica' }, { name:
            'Antigua and Barbuda' }, { name:
            'Argentina' }, { name:
            'Armenia' }, { name:
            'Aruba' }, { name:
            'Australia' }, { name:
            'Austria' }, { name:
            'Azerbaijan' }, { name:
            'Bahamas' }, { name:
            'Bahrain' }, { name:
            'Bangladesh' }, { name:
            'Barbados' }, { name:
            'Belarus' }, { name:
            'Belgium' }, { name:
            'Belize' }, { name:
            'Benin' }, { name:
            'Bermuda' }, { name:
            'Bhutan' }, { name:
            'Bolivia' },
      { name:
            'Bonaire' },
      { name:
            'Bosnia and Herzegovina' }, { name:
            'Botswana' }, { name:
            'Bouvet Island' }, { name:
            'Brazil' }, { name:
            'British Indian Ocean Territory' }, { name:
            'Brunei Darussalam' }, { name:
            'Bulgaria' }, { name:
            'Burkina Faso' }, { name:
            'Burundi' }, { name:
            'Cambodia' }, { name:
            'Cameroon' }, { name:
            'Canada' }, { name:
            'Cape Verde' }, { name:
            'Cayman Islands' }, { name:
            'Central African Republic' }, { name:
            'Chad' }, { name:
            'Chile' }, { name:
            'China' }, { name:
            'Christmas Island' }, { name:
            'Cocos (Keeling) Islands' }, { name:
            'Colombia' }, { name:
            'Comoros' },
      { name: 'Congo' },
      { name: 'Cook Islands' },
      { name:
            'Costa Rica' }, { name:
            "Côte d'Ivoire" }, { name:
            'Croatia' }, { name:
            'Cuba' }, { name:
            'Curaçao' }, { name:
            'Cyprus' }, { name:
            'Czech Republic' }, { name:
            'Denmark' }, { name:
            'Djibouti' }, { name:
            'Dominica' }, { name:
            'Dominican Republic' }, { name:
            'Ecuador' }, { name:
            'Egypt' }, { name:
            'El Salvador' }, { name:
            'Equatorial Guinea' }, { name:
            'Eritrea' }, { name:
            'Estonia' }, { name:
            'Ethiopia' }, { name:
            'Falkland Islands (Malvinas)' }, { name:
            'Faroe Islands' }, { name:
            'Fiji' }, { name:
            'Finland' }, { name:
            'France' }, { name:
            'French Guiana' }, { name:
            'French Polynesia' }, { name:
            'French Southern Territories' }, { name:
            'Gabon' }, { name:
            'Gambia' }, { name:
            'Georgia' }, { name:
            'Germany' }, { name:
            'Ghana' }, { name:
            'Gibraltar' }, { name:
            'Greece' }, { name:
            'Greenland' }, { name:
            'Grenada' }, { name:
            'Guadeloupe' }, { name:
            'Guam' }, { name:
            'Guatemala' }, { name:
            'Guernsey' }, { name:
            'Guinea' }, { name:
            'Guinea-Bissau' }, { name:
            'Guyana' }, { name:
            'Haiti' }, { name:
            'Heard Island and McDonald Islands' }, { name:
            'Holy See (Vatican City State)' }, { name:
            'Honduras' }, { name:
            'Hong Kong' }, { name:
            'Hungary' }, { name:
            'Iceland' }, { name:
            'India' }, { name:
            'Indonesia' }, { name:
            'Iran' }, { name:
            'Iraq' }, { name:
            'Ireland' }, { name:
            'Isle of Man' }, { name:
            'Israel' }, { name:
            'Italy' }, { name:
            'Jamaica' }, { name:
            'Japan' }, { name:
            'Jersey' }, { name:
            'Jordan' }, { name:
            'Kazakhstan' }, { name:
            'Kenya' }, { name:
            'Kiribati' }, { name:
            'Korea' }, { name:
            'Kuwait' }, { name:
            'Kyrgyzstan' }, { name:
            "Lao People's Democratic Republic" }, { name:
            'Latvia' }, { name:
            'Lebanon' }, { name:
            'Lesotho' }, { name:
            'Liberia' }, { name:
            'Libya' }, { name:
            'Liechtenstein' }, { name:
            'Lithuania' }, { name:
            'Luxembourg' }, { name:
            'Macao' }, { name:
            'Macedonia' }, { name:
            'Madagascar' }, { name:
            'Malawi' }, { name:
            'Malaysia' }, { name:
            'Maldives' }, { name:
            'Mali' }, { name:
            'Malta' }, { name:
            'Marshall Islands' }, { name:
            'Martinique' }, { name:
            'Mauritania' }, { name:
            'Mauritius' }, { name:
            'Mayotte' }, { name:
            'Mexico' }, { name:
            'Micronesia' }, { name:
            'Moldova' }, { name:
            'Monaco' }, { name:
            'Mongolia' }, { name:
            'Montenegro' }, { name:
            'Montserrat' }, { name:
            'Morocco' }, { name:
            'Mozambique' }, { name:
            'Myanmar' }, { name:
            'Namibia' }, { name:
            'Nauru' }, { name:
            'Nepal' }, { name:
            'Netherlands' }, { name:
            'New Caledonia' }, { name:
            'New Zealand' }, { name:
            'Nicaragua' }, { name:
            'Niger' }, { name:
            'Nigeria' }, { name:
            'Niue' }, { name:
            'Norfolk Island' }, { name:
            'Northern Mariana Islands' }, { name:
            'Norway' }, { name:
            'Oman' }, { name:
            'Pakistan' }, { name:
            'Palau' }, { name:
            'Palestine},{name : State of' }, { name:
            'Panama' }, { name:
            'Papua New Guinea' }, { name:
            'Paraguay' }, { name:
            'Peru' }, { name:
            'Philippines' }, { name:
            'Pitcairn' }, { name:
            'Poland' }, { name:
            'Portugal' }, { name:
            'Puerto Rico' }, { name:
            'Qatar' }, { name:
            'Réunion' }, { name:
            'Romania' }, { name:
            'Russian Federation' }, { name:
            'Rwanda' }, { name:
            'Saint Barthélemy' }, { name:
            'Saint Helena' }, { name:
            'Saint Kitts and Nevis' }, { name:
            'Saint Lucia' }, { name:
            'Saint Martin (French part)' }, { name:
            'Saint Pierre and Miquelon' }, { name:
            'Saint Vincent and the Grenadines' }, { name:
            'Samoa' }, { name:
            'San Marino' }, { name:
            'Sao Tome and Principe' }, { name:
            'Saudi Arabia' }, { name:
            'Senegal' }, { name:
            'Serbia' }, { name:
            'Seychelles' }, { name:
            'Sierra Leone' }, { name:
            'Singapore' }, { name:
            'Sint Maarten (Dutch part)' }, { name:
            'Slovakia' }, { name:
            'Slovenia' }, { name:
            'Solomon Islands' }, { name:
            'Somalia' }, { name:
            'South Africa' }, { name:
            'South Georgia and the South Sandwich Islands' }, { name:
            'South Sudan' }, { name:
            'Spain' }, { name:
            'Sri Lanka' }, { name:
            'Sudan' }, { name:
            'Suriname' }, { name:
            'Svalbard and Jan Mayen' }, { name:
            'Swaziland' }, { name:
            'Sweden' }, { name:
            'Switzerland' }, { name:
            'Syrian Arab Republic' }, { name:
            'Taiwan' }, { name:
            'Tajikistan' }, { name:
            'Tanzania' }, { name:
            'Thailand' }, { name:
            'Timor-Leste' }, { name:
            'Togo' }, { name:
            'Tokelau' }, { name:
            'Tonga' }, { name:
            'Trinidad and Tobago' }, { name:
            'Tunisia' }, { name:
            'Turkey' }, { name:
            'Turkmenistan' }, { name:
            'Turks and Caicos Islands' }, { name:
            'Tuvalu' }, { name:
            'Uganda' }, { name:
            'Ukraine' }, { name:
            'United Arab Emirates' }, { name:
            'United Kingdom' }, { name:
            'United States' }, { name:
            'United States Minor Outlying Islands' }, { name:
            'Uruguay' }, { name:
            'Uzbekistan' }, { name:
            'Vanuatu' }, { name:
            'Venezuela' }, { name:
            'Viet Nam' }, { name:
            'Virgin Islands' }, { name:
            'Wallis and Futuna' }, { name:
            'Western Sahara' }, { name:
            'Yemen' }, { name:
            'Zambia' }, { name:
            'Zimbabwe' }
    ],

    title: null,
    f_name: null,
    l_name: null,
    p_work: null,
    number: null,
    email: null,
    address: null,
    state: null,
    selectedcountry: null,
    signature: null,
    first: false
  }),
  components: {
    MdDialogAlert,
    DynamicForm,
    'vue-country-select': require('vue-country-select')
    //    UserCard
  },

  methods: {
    submitform (submitEvent) {
      this.signature = this.save()
      const Cryptr = require('cryptr')
      const cryptr = new Cryptr('myTotalySecretKey')

      const encryptedString = cryptr.encrypt(this.signature)
      var dialo = false
      var _this = this
      //            console.log(encryptedString); // 5590fd6409be2494de0226f5d7
      var U_ID = localStorage.getItem('u_id')
      this.Token = localStorage.getItem('_token')
      //            $id,$title,$f_name,$l_name,$place_of_work,$phone_number,$email,$address,$state,$country
      //                var urlforreq = 'http://localhost:8000/api/setgeneraltable' + '/' + U_ID + '/'
      //                    + this.title + '/' + this.f_name + '/'
      //                    + this.l_name + '/' + this.p_work + '/'
      //                    + this.number + '/' + this.email + '/'
      //                    + this.address + '/' + this.state + '/'
      //                    + this.selectedcountry + '/' + 'signature';
      /// /            console.log(urlforreq);
      //                axios.get(urlforreq, {
      //                    headers: {
      //                        Authorization: 'Bearer ' + this.Token
      //                    },
      //                }).then(function (response) {
      //                    console.log(response.data);
      //                    if(response.data == 'Form Added')
      //                    _this.first = true;
      //                    else {alert('name taken')}
      //                })
      var data = {
        UserID: U_ID,
        Title: this.title,
        f_name: this.f_name,
        l_name: this.l_name,
        p_work: this.p_work,
        number: this.number,
        email: this.email,
        address: this.address,
        state: this.state,
        selectedcountry: this.selectedcountry,
        signature: this.signature }

      var urlforreq = `${process.env.VUE_APP_API_URI}/setgeneraltable`
      //            console.log(urlforreq);
      axios.post(urlforreq, data, {
        headers: {
          Authorization: 'Bearer ' + this.Token
        }
      }).then(function (response) {
        console.log(response.data)
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear()
          _this.$router.push('login')
        }
        if (response.data == 'Form Added') {
          // _this.first = true
          _this.$emit('goToCreateNewForm')
        }
        else {
          alert('name taken')
        }
      })
    },
    CreateFormPressed () {
      this.ShowCreateFormForm = !this.ShowCreateFormForm
    },

    save () {
      var _this = this
      //            var png = _this.$refs.signature.save()
      var jpeg = _this.$refs.signature.save('image/jpeg')
      // var svg = _this.$refs.signature.save('image/svg+xml')

      return jpeg
    },
    clear () {
      var _this = this
      _this.$refs.signature.clear()
    },
    undo () {
      var _this = this
      _this.$refs.signature.undo()
    },
    addWaterMark () {
      var _this = this
      _this.$refs.signature.addWaterMark({
        text: 'mark text', // watermark text, > default ''
        font: '20px Arial', // mark font, > default '20px sans-serif'
        style: 'all', // fillText and strokeText,  'all'/'stroke'/'fill', > default 'fill
        fillStyle: 'red', // fillcolor, > default '#333'
        strokeStyle: 'blue', // strokecolor, > default '#333'
        x: 100, // fill positionX, > default 20
        y: 200, // fill positionY, > default 20
        sx: 100, // stroke positionX, > default 40
        sy: 200 // stroke positionY, > default 40
      })
    },
    fromDataURL (url) {
      var _this = this
      _this.$refs.signature.fromDataURL('data:image/png;base64,iVBORw0K...')
    },
    onCloseSuccessAlert () {
      this.$emit('goToCreateNewForm')
    }
  }

}

</script>
