<template>
  <div style="margin-left: 10px;">
    <form >
      <md-field>
        <label>First Name</label>
        <md-input/>
      </md-field>
      <md-field>
        <label>Last Name</label>
        <md-input/>
      </md-field>
      <md-field>
        <label>Organization</label>
        <md-input/>
      </md-field>
      <md-field>
        <label>Mobile Number</label>
        <md-input/>
      </md-field>
      <md-field>
        <label>Country</label>
        <md-input/>
      </md-field>
      <md-field>
        <label>Sender Email Address to Respondents</label>
        <md-input/>
      </md-field>
      <md-field>
        <label>Plan</label>
        <md-input/>
      </md-field>
      <div
        class="md-layout-item md-small-size-100"
        style="padding: 0; width: 30%;">
        <md-field>
          <label for="plan">Country</label>
          <md-select
            name="plan"
            id="plan">
            <md-option value="Pro">Pro</md-option>
            <md-option value="plus">plus</md-option>
            <md-option value="Proplus">Proplus</md-option>
          </md-select>
          <span class="md-error">The gender is required</span>
        </md-field>
      </div>
      <div>
        <md-button
          id="btn2"
          @click="GrantAccesspressed"
          class="md-fab md-accent custombutton" >
          <md-icon >add</md-icon>
        </md-button>
        <p>Grant Access to User</p>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="GrantAccess">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Profiler Form</h4>
          </md-card-header>
          <md-card-content>
            <label class="container">Create Form<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
            <label class="container">Manage Form<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
            <label class="container">Manage List<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
            <label class="container">Download Form<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
            <label class="container">Grant Access<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
          </md-card-content>
        </md-card>
      </div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="GrantAccess">
        <md-card>
          <md-card-header data-background-color="blue">
            <h4 class="title">Activate Form</h4>
          </md-card-header>
          <md-card-content>
            <label class="container">Activate Form<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
            <label class="container">Track Form<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
          </md-card-content>
        </md-card>
      </div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="GrantAccess">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Profile Management</h4>
          </md-card-header>
          <md-card-content>
            <label class="container">Create New Segment<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
            <label class="container">Segment List<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
          </md-card-content>
        </md-card>
      </div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="GrantAccess">
        <md-card>
          <md-card-header data-background-color="black">
            <h4 class="title">Profile Review</h4>
          </md-card-header>
          <md-card-content>
            <label class="container">Profile Analytics<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
            <label class="container">Form User Track<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
          </md-card-content>
        </md-card>
      </div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="GrantAccess">
        <md-card>
          <md-card-header data-background-color="red">
            <h4 class="title">Manage Account</h4>
          </md-card-header>
          <md-card-content>
            <label class="container">User Profile<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
            <label class="container">Account Balance<input
              type="checkbox"
              checked="checked"
              name="r-check"><span
                class="checkmark"
                style="border-radius: 0;"/></label>
          </md-card-content>
        </md-card>
      </div>

      <md-field>
        <label>User Name</label>
        <md-input/>
      </md-field>
      <md-field>
        <label>Password</label>
        <md-input/>
      </md-field>
      <md-field>
        <label>Enter Email (To Auto send User Details)</label>
        <md-input/>
      </md-field>
      <md-card-actions>
        <md-button
          type="submit"
          class="md-primary"
          @click="">Create</md-button>
      </md-card-actions>
    </form>
  </div>
</template>

<script>

export default {
  name: 'AccessManager',
  data: () => ({
    GrantAccess: false
  }),
  methods: {
    GrantAccesspressed () {
      this.GrantAccess = !this.GrantAccess
    }
  }
}

</script>

<style scoped>
    .md-menu-content{
        max-width: 74%;
    }
    .md-button{
        float: left;
    }
    .addbuttons{
        width: 100%;
        float: left;
    }
    .custombutton{

    }
    p{
        float: left;
        line-height: 4;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 2%;
    }

    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    .md-table-cell-container{
        text-align: center !important;
        justify-content: center;
    }
</style>
