<template>
  <div>
    <!--<md-tabs class="md-transparent" md-alignment="centered">-->
    <!--<md-tab id="tab-home" md-icon="home"></md-tab>-->
    <!--<md-tab id="tab-pages" md-icon="folder_shared"></md-tab>-->
    <!--</md-tabs>-->
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      v-if="showpreviewform">
      <md-card>
        <md-card-header data-background-color="green">
          <h4 class="title">Preview Of Form</h4>
          <md-button
            class="md-just-icon md-simple md-primary"
            @click="closepreview">
            <md-icon>visibility_off</md-icon>
            <md-tooltip md-direction="top">Click To Close</md-tooltip>
          </md-button>
        </md-card-header>
        <md-card-content>
          <preview-form
            :fields-add="this.fields"
            :signature-statuss="this.sigstatus"
            :privacystatement="this.privacystatement"
            :radiostatus="this.radiostatus"
            :radioactive="this.radioactive"
            :autoackn="this.autoackn"
            :autocomun="this.autocommun"
          />
        </md-card-content>
      </md-card>
    </div>
    <md-table
      v-model="searched"
      v-if="showmyforms"
      md-sort="form_name"
      md-sort-order="asc"
      md-fixed-header>
      <md-table-toolbar>
        <h1
          class="md-title"
          style="font-weight: bold;">My Forms</h1>
        <md-field
          md-clearable
          class="md-toolbar-section-end">
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="searchOnTable" />
        </md-field>
      </md-table-toolbar>

      <md-table-row
        slot="md-table-row"
        slot-scope="{ item }">
        <md-table-cell
          md-label="Name"
          md-sort-by="form_name">{{ item.form_name }}</md-table-cell>
        <md-table-cell md-label="Created By" >{{ item.created_by }}</md-table-cell>
        <md-table-cell md-label="Date Created" >{{ item.creation_date }}</md-table-cell>
        <md-table-cell md-label="Date Active" >{{ item.activation_date }}</md-table-cell>
        <md-table-cell md-label="Termination Date" >{{ item.inactivation_date }}</md-table-cell>
        <md-table-cell
          md-label="Brand"
          md-sort-by="brand">{{ item.brand }}</md-table-cell>
        <!--<md-table-cell md-label="Respondents">{{ item.respondents }}</md-table-cell>-->

        <md-table-cell md-label="Preview Form">
          <md-button
            class="md-just-icon md-simple md-primary"
            @click="OpenFormpressed(item.id)">
            <md-icon>open_in_browser</md-icon>
            <md-tooltip md-direction="top">Open</md-tooltip>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
    <br>
    <br>
    <br>
    <md-divider/>
    <br>
    <md-table
      v-model="others"
      v-if="showotherforms"
      md-sort="form_name"
      md-sort-order="asc"
      md-fixed-header>
      <md-table-toolbar>
        <h1
          class="md-title"
          style="font-weight: bold;">Other Forms</h1>
      </md-table-toolbar>

      <md-table-row
        slot="md-table-row"
        slot-scope="{ item }">
        <md-table-cell
          md-label="Name"
          md-sort-by="form_name">{{ item.form_name }}</md-table-cell>
        <md-table-cell md-label="Created By" >{{ item.created_by }}</md-table-cell>
        <md-table-cell md-label="Date Created" >{{ item.creation_date }}</md-table-cell>
        <md-table-cell md-label="Date Active" >{{ item.activation_date }}</md-table-cell>
        <md-table-cell md-label="Termination Date" >{{ item.inactivation_date }}</md-table-cell>
        <md-table-cell
          md-label="Brand"
          md-sort-by="brand">{{ item.brand }}</md-table-cell>
        <md-table-cell md-label="Link">{{ item.link }}</md-table-cell>
        <md-table-cell md-label="Preview Form">
          <md-button
            class="md-just-icon md-simple md-primary"
            @click="OpenFormpressed(item.id)">
            <md-icon>open_in_browser</md-icon>
            <md-tooltip md-direction="top">Open</md-tooltip>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>

import OpenForm from './OpenForm'
import axios from 'axios'
import PreviewForm from '../components/Tables/PreviewForm'

const toLower = text => {
  return text.toString().toLowerCase()
}
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item => toLower(item.form_name).includes(toLower(term)))
  }
  return items
}
export default {
  components: {
    PreviewForm,
    OpenForm },
  name: 'FormList',
  created: function () {
    var axios = require('axios')
    var _this = this
    var U_ID = localStorage.getItem('u_id')
    this.Token = localStorage.getItem('_token')
    var urlforreq = `${process.env.VUE_APP_API_URI}/getallformnamesbyid/`
    axios.get(urlforreq + U_ID, {
      headers: {
        Authorization: 'Bearer ' + this.Token
      }
    }).then(function (response) {
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear()
        _this.$router.push('login')
      }
      var i = 0
      while (i < response.data.length) {
        _this.users.push(response.data[i])
        i++
      }
      _this.searched = _this.users
      _this.showme = true
      if (_this.users.length > 0) { _this.showmyforms = true }
    })

    urlforreq = `${process.env.VUE_APP_API_URI}/getotherforms/`
    axios.get(urlforreq + U_ID, {
      headers: {
        Authorization: 'Bearer ' + this.Token
      }
    }).then(function (response) {
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear()
        _this.$router.push('login')
      }
      var i = 0
      while (i < response.data.length) {
        _this.others.push(response.data[i])
        //                    _this.others.set('link');
        _this.others[i].link = `${process.env.VUE_APP_WEB_URI}` + '/?#/granted-i-p-forms/' + _this.others[i].f_id + '/' + _this.others[i].creator_id + '/' +
                    _this.others[i].distributor_id + '/i-profiler/'
        i++
      }
      //                console.log(_this.others);
      if (_this.others.length > 0) { _this.showotherforms = true }
    })
  },
  data: () => ({
    Token: '',
    searched: [],
    showmyforms: false,
    showotherforms: false,
    search: null,
    showme: false,
    formname: 'name',
    sigstatus: false,
    radiostatus: false,
    radioactive: false,
    autoackn: 'Email',
    autocommun: 'SMS',
    privacystatement: 'we re an organisation with a strict privacy policy. By submitting your details you are agreed to recieve occasional e-mails from us about events refresh and Special offers',
    ActiveOpenForm: false,
    showpreviewform: false,
    fields: [],
    selected: [],
    users: [],
    others: []
  }),

  methods: {
    searchOnTable () {
      this.searched = searchByName(this.users, this.search)
    },
    closepreview () {
      this.showpreviewform = false
    },
    onSelect: function (items) {
      this.selected = items
    },

    OpenFormpressed (v) {
      var _this = this
      var urlforreq = `${process.env.VUE_APP_API_URI}/getsingleformbyid`

      var datajson = {
        formid: v,
        creatorid: 'forbidden',
        distributorid: 'forbidden'
      }
      axios.post(urlforreq, datajson, {
        headers: {
          Authorization: 'Bearer ' + this.Token
        }
      }).then(function (response) {
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear()
          _this.$router.push('login')
        }
        //                    console.log(response.data[0]);
        _this.formname = 'myname'
        //                    console.log('===>'+response.data[0].sig_box);
        if (response.data[0].sig_box == 'active') { _this.sigstatus = response.data[0].sig_box } else _this.sigstatus = false

        _this.radiostatus = response.data[0].radio_status
        if (response.data[0].radio_active == 'active') { _this.radioactive = response.data[0].radio_active } else _this.radioactive = false

        _this.autoackn = response.data[0].auto_acknowledge
        _this.autocommun = response.data[0].auto_communication
        var arr = response.data[0].fields.split(',')
        arr.pop()

        _this.fields = arr
        console.log(_this.fields)

        _this.showpreviewform = true
      })
      console.log(v)
      this.ActiveOpenForm = !this.ActiveOpenForm
    }
  }

}
</script>

<style scoped>
    .md-table-cell-container{
        text-align: center !important;
        justify-content: center;
    }
    .md-table-head-container{
        text-align: center !important;
    }
</style>
