<template>

  <md-table v-model="users">
    <md-table-row
      slot="md-table-row"
      slot-scope="{ item }">
      <md-table-cell md-label="Name of Form">{{ item.name }}</md-table-cell>
      <md-table-cell md-label="created By">{{ item.createdby }}</md-table-cell>
      <md-table-cell md-label="Date of Creation">{{ item.dateofcreation }}</md-table-cell>
      <md-table-cell md-label="InActivation Date">{{ item.inactivationdate }}</md-table-cell>
      <md-table-cell md-label="Total Respondants">{{ item.activitytype }}</md-table-cell>
      <md-table-cell md-label="Last Fill Date">10/30/2018</md-table-cell>
    </md-table-row>
  </md-table>

</template>

<script>
export default {
  name: 'FormUseTrack',
  data: () => ({
    users: [

      {
        name: 'Name"',
        createdby: 'Created',
        dateofcreation: 'Dateo',
        inactivationdate: 'Inactivation',
        activitytype: 'Activity',
        brand: 'Brands',
        openform: 'Open'

      },
      {
        name: 'Name"',
        createdby: 'Created',
        dateofcreation: 'Dateo',
        inactivationdate: 'Inactivation',
        activitytype: 'Activity',
        brand: 'Brands',
        openform: 'Open'

      }
    ]
  })
}
</script>

<style scoped>

</style>
