<template>
  <div>
    <md-table
      v-model="searched"
      md-sort="form_name"
      md-sort-order="asc"
      md-fixed-header>

      <md-table-toolbar>
        <md-field
          md-clearable
          class="md-toolbar-section-end">
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="searchOnTable" />
        </md-field>
      </md-table-toolbar>
      <md-table-row
        slot="md-table-row"
        slot-scope="{ item,index }">
        <md-table-cell
          md-label="Name"
          md-sort-by="form_name">{{ item.form_name }}</md-table-cell>
        <md-table-cell md-label="Created By">{{ item.created_by }}</md-table-cell>
        <md-table-cell md-label="Date Created">{{ item.creation_date }}</md-table-cell>
        <md-table-cell md-label="Termination Date">{{ item.inactivation_date }}</md-table-cell>
        <md-table-cell md-label="Link">{{ item.brand }}</md-table-cell>
        <md-table-cell md-label="Upload User Contacts">
          <md-button
            class="md-just-icon md-simple md-primary "
            @click="uploaduserpressed(item.id)">
            <md-icon>open_in_browser</md-icon>
            <md-tooltip md-direction="top">Upload</md-tooltip>
          </md-button>
          <md-button
            class="md-just-icon md-simple md-accent"
            @click="grantaccess(item.id)">
            <md-icon>account_balance</md-icon>
            <md-tooltip md-direction="top">Grant Access</md-tooltip>
          </md-button>
        </md-table-cell>
        <md-table-cell md-label="Access Status">{{ item.status }}</md-table-cell>
      </md-table-row>
    <!--<md-table-row>-->
      <!--<md-button class="md-button md-primary btn">Done</md-button>-->
    <!--</md-table-row>-->
    </md-table>
    <md-dialog :md-active.sync="active1">
      <md-dialog-title>Press Enter to add User Email</md-dialog-title>
      <md-chips
        class="md-primary"
        style="padding: 20px;padding-bottom: 0px;"
        v-model="value1"
        md-placeholder="Add E-mail and enter..."
        v-if="active1"/>
      <div style="display:flex;align-items:baseline">
        <md-field style="flex:1">
          <label>Upload email CSV</label>
          <md-file @md-change="handleCsvImport"></md-file>
        </md-field>
        <md-button class="md-icon-button" @click="onClickCsvImport('email')"><md-icon>arrow_upward</md-icon></md-button>
      </div>
      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="active1 = false">Close</md-button>
        <md-button
          class="md-primary"
          @click="saveusers(1)">Save</md-button>
      </md-dialog-actions>
    </md-dialog>
    <!--<md-dialog-prompt-->
    <!--:md-active.sync="active1"-->
    <!--v-model="value1"-->
    <!--md-title="Type User ID"-->
    <!--md-input-maxlength="30"-->
    <!--md-input-placeholder="User ID"-->
    <!--md-confirm-text="Done" />-->
  </div>
</template>

<script>
import axios from 'axios'
import papa from 'papaparse'
const toLower = text => {
  return text.toString().toLowerCase()
}
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item => toLower(item.form_name).includes(toLower(term)))
  }
  return items
}
export default {
  name: 'GrantAccessForm',
  created: function () {
    var axios = require('axios')
    var _this = this
    var U_ID = localStorage.getItem('u_id')
    this.creator_id = U_ID
    this.Token = localStorage.getItem('_token')
    var urlforreq = `${process.env.VUE_APP_API_URI}/getallformnamesbyid/`
    axios.get(urlforreq + U_ID, {
      headers: {
        Authorization: 'Bearer ' + this.Token
      }
    }).then(function (response) {
      //                    console.log(response.data);
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear()
        _this.$router.push('login')
      }
      var i = 0
      while (i < response.data.length) {
        response.data[i].brand = 'http://localhost:8081/?#/granted-i-p-forms/' + response.data[i].id + '/' + U_ID + '/' + '1' + '/' + 'i-profiler'
        var temp = 'Not Granted'
        if (!_this.checkactivation(response.data[i].inactivation_date)) {
          temp = 'Inactive'
        }
        _this.users.push({
          activation_date: response.data[i].activation_date,
          brand: response.data[i].brand,
          created_by: response.data[i].created_by,
          creation_date: response.data[i].creation_date,
          form_name: response.data[i].form_name,
          id: response.data[i].id,
          inactivation_date: response.data[i].inactivation_date,
          status: temp })
        //                    console.log(response.data[i]);
        //                    console.log(response.data[i]);
        i++
      }
      //                console.log(true);
      _this.searched = _this.users
      _this.showme = true
    })

    urlforreq = `${process.env.VUE_APP_API_URI}/getgrantaccess/`
    axios.get(urlforreq + U_ID, {
      headers: {
        Authorization: 'Bearer ' + this.Token
      }
    }).then(function (response) {
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear()
        _this.$router.push('login')
      }
      _this.L_populatedGrantaccess = response.data[0]
      var i = 0
      while (i < response.data[1].length) {
        _this.LofGrantedUsers.push(response.data[1][i])
        i++
      }
      var t = 0
      while (t < _this.L_populatedGrantaccess.length) {
        var y = 0
        while (y < _this.users.length) {
          //                        console.log(_this.L_populatedGrantaccess);
          //                        console.log('==========================================>')
          if (_this.L_populatedGrantaccess[t] == _this.users[y].id) {
            if (_this.users[y].status != 'Inactive') { _this.users[y].status = _this.LofGrantedUsers[t].toString() }
          }
          y++
        }
        t++
      }
    })
  },
  data: () => ({
    Token: '',
    searched: [],
    search: null,
    showme: false,
    L_populatedGrantaccess: [],
    LofGrantedUsers: [],
    AccessStatus: '',
    selected: [],
    users: [],
    dialogboxup: false,
    dialogboxip: false,
    active1: false,
    value1: [],
    creator_id: '',
    arrayoflink: [],
    form_idforlink: '',
    WrongRecipents: [],
    userstobegranted: []
  }),
  watch: {
    value1: function () {
      //                console.log(this.value1)
      //                console.log(this.value1[this.value1.length-1]);
    }
  },
  methods: {
    searchOnTable () {
      this.searched = searchByName(this.users, this.search)
    },
    checkactivation (v) {
      var year = new Date().getFullYear()
      var month = new Date().getMonth()
      var date = new Date().getDate()

      var inactidate = v.split('-')
      if (year > inactidate[0]) {
        return false
      } else if (month > inactidate[1]) {
        return false
      } else if (date > inactidate[2]) {
        return false
      }
      return true
    },
    grantaccess (v) {
      //                console.log(this.userstobegranted)
      //                console.log(v+'<---->'+this.form_idforlink);
      var i = 0
      var access = []
      var index
      var names = ''
      if (v == this.form_idforlink) {
        while (i < this.userstobegranted.length) {
          if (this.userstobegranted[i].form_id == v) {
            access.push(this.userstobegranted[i].distributor_id)
            names += this.userstobegranted[i].email + ', '
            index = i
            i++
          }
        }
        i = 0
        while (i < this.users.length) {
          if (this.users[i].id == v) {
            this.users[i].status = names
            break
          }
          i++
        }
        //                console.log(access.toString());
        var axios = require('axios')
        var _this = this
        var U_ID = localStorage.getItem('u_id')
        this.creator_id = U_ID
        this.Token = localStorage.getItem('_token')
        var urlforreq = `${process.env.VUE_APP_API_URI}/setgrantaccess/` + this.userstobegranted[index].form_id + '/' + this.userstobegranted[index].creator_id +
                        '/' + access.toString()
        axios.get(urlforreq, {
          headers: {
            Authorization: 'Bearer ' + this.Token
          }
        }).then(function (response) {
          //                    console.log(response.data);
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear()
            _this.$router.push('login')
          }
        })
      }
    },
    saveusers (v) {
      this.active1 = false
      this.arrayoflink = []
      this.WrongRecipents = []
      this.userstobegranted = []
      var _this = this
      //                var axios = require('axios');
      var i = 0
      while (i < this.value1.length) {
        var U_ID = localStorage.getItem('u_id')
        this.Token = localStorage.getItem('_token')
        var urlforreq = `${process.env.VUE_APP_API_URI}/getuserbyemail/`
        //                    console.log('sending this');
        console.log(this.value1[i])
        axios.get(urlforreq + this.value1[i], {
          headers: {
            Authorization: 'Bearer ' + this.Token
          }
        }).then(function (response) {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear()
            _this.$router.push('login')
          }
          if (response.data.length > 0) {
            _this.arrayoflink.push(`${process.env.VUE_APP_WEB_URI}` + '?#/granted-i-p-forms/' + _this.form_idforlink + '/' + U_ID + '/' + response.data[0].id + '/' + response.data[0].name)
            //                        console.log('array of links ==>')
            //                        console.log(_this.arrayoflink);
            _this.userstobegranted.push({ form_id: _this.form_idforlink,
              creator_id: U_ID,
              distributor_id: response.data[0].id,
              email: response.data[0].email })
            //                        console.log('response Data=====>');
            //                        console.log(response.data[0]);
            //                    }else {console.log('bhar me jao')
            _this.WrongRecipents.push(_this.value1[i])
            //                    console.log(response.data)
          }
        })
        i++
      }
    },
    uploaduserpressed (v) {
      this.form_idforlink = v
      this.active1 = true
      this.value1 = []
    },
    takeupid () {
      this.dialogboxup = !this.dialogboxup
    },
    takeipid () {
      this.dialogboxip = !this.dialogboxip
    },
    onSelect: function (items) {
      this.selected = items
    },
    handleCsvImport (fileList) {
      this.csvFile = fileList[0]
    },
    onClickCsvImport (type) {
      let _this = this
      if (this.csvFile) {
        papa.parse(this.csvFile, {
          complete: (result) => {
            for (let i = 0; i < result.data.length; i++) {

              let chip = result.data[i][0]
              if (type === 'email') {
                if (_this.validEmail(chip) && !_this.value1.includes(chip)) {
                  _this.value1.push(chip)
                }
              } else if (type === 'number') {
                if (chip && !_this.numbers.includes(chip)) {
                  _this.numbers.push(chip)
                }
              }
            }
          }
        })
      }
    },
    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  }
}
</script>

<style scooped>
.btn{
    margin-left: 41%;
    width: 200px;
}
    .md-table-cell{
        max-width: 100px;
    }
.md-table-cell-container{
    text-align: center !important;
    justify-content: center;
}
</style>
