<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item" style="width:100%">
        <md-card class="md-card-plain">
          <md-card-header data-background-color="green">
            <h4 class="title">i-Profiler Form</h4>
            <p class="category">Form for {{ this.$route.params.email }}</p>
          </md-card-header>
          <md-card-content v-if="showpreviewform">
            <preview-form
              :fields-add="this.fields"
              :signature-statuss="this.sigstatus"
              :privacystatement="this.privacystatement"
              :radiostatus="this.radiostatus"
              :radioactive="this.radioactive"
              :autoackn="this.autoackn"
              :autocomun="this.autocommun"
              :form-id="this.FormID"
              :user-email="this.$route.params.email"
              :preview-form-status="this.formstatus"
              :creator-id="this.$route.params.c_id"
              :distributor-id="this.$route.params.d_id"
            />
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</template>

<script>
import PreviewForm from '../components/Tables/PreviewForm'
export default{
  components: { PreviewForm },
  data: () => ({
    Token: '',
    showme: false,
    formname: 'name',
    sigstatus: false,
    radiostatus: false,
    radioactive: false,
    autoackn: 'Email',
    autocommun: 'SMS',
    privacystatement: 'we re an organisation with a strict privacy policy. By submitting your details you are agreed to recieve occasional e-mails from us about events refresh and Special offers',
    ActiveOpenForm: false,
    showpreviewform: false,
    fields: [],
    selected: [],
    users: [],
    FormID: '',
    UserEmail: '',
    formstatus: true,
    ready: false
  }),
  beforeCreate: function () {
    var axios = require('axios')

    var that = this
    var _token = ''
    axios.post(`${process.env.VUE_APP_API_URI}/cors/login`, {
      email: '00@00.com',
      password: 'arslan'
    }).then(function (response) {
      that.Token = response.data.token
      _token = that.Token
      localStorage.setItem('_token', response.data.token)
      // alert(localStorage.getItem('_token'));
      axios.get(`${process.env.VUE_APP_API_URI}/user`, {
        headers: {
          Authorization: 'Bearer ' + that.Token // the token is a variable which holds the token
        }
      }).then(function (value) {
        //                    that.userinfo=value.data.user;
        //                    localStorage.setItem('u_id',JSON.stringify(value.data.user.id));
        //                    localStorage.setItem('user',JSON.stringify(that.userinfo));
        that.ready = true
      }).catch(function (reason) {
        console.log(reason)
      })

      //                that.$router.push('/user');
    })
      .catch(function (error) {
        console.log(error)
      })

    //        document.getElementById('btn').className = 'disabled';
  },
  watch: {
    ready: function () {
      if (this.ready == true) {
        console.log(this.$route.params.id)
        var axios = require('axios')
        var v = this.$route.params.id
        this.FormID = v
        this.UserEmail = this.$route.params.email
        if (this.$route.params.email == 'i-ProfilerPro') {
          this.formstatus = false
        }
        var _this = this
        var urlforreq = `${process.env.VUE_APP_API_URI}/getsingleformbyid`

        var datajson = {
          formid: v,
          creatorid: this.$route.params.c_id,
          distributorid: this.$route.params.d_id
        }

        this.Token = localStorage.getItem('_token')
        axios.post(urlforreq, datajson, {
          headers: {
            Authorization: 'Bearer ' + this.Token
          }
        }).then(function (response) {
          console.log(response.data[0])
          _this.privacystatement = response.data[0].privacystatement.split('+').join(' ')
          _this.formname = 'myname'
          //                    console.log('===>'+response.data[0].sig_box);
          if (response.data[0].sig_box == 'active') { _this.sigstatus = response.data[0].sig_box } else _this.sigstatus = false

          _this.radiostatus = response.data[0].radio_status
          if (response.data[0].radio_active == 'active') { _this.radioactive = response.data[0].radio_active } else _this.radioactive = false

          _this.autoackn = response.data[0].auto_acknowledge
          _this.autocommun = response.data[0].auto_communication
          var arr = response.data[0].fields.split(',')
          arr.pop()

          _this.fields = arr
          console.log(_this.fields)

          _this.showpreviewform = true
        })
      }
    }
  },
  methods: {

  }
}
</script>
