<template>
  <div>
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      v-if="showpreviewform"
      id="content">
      <md-card>
        <md-card-header data-background-color="green">
          <h4 class="title">Preview Of Form</h4>
          <md-button
            class="md-just-icon md-simple md-primary"
            @click="closepreview">
            <md-icon>visibility_off</md-icon>
            <md-tooltip md-direction="top">Click To Close</md-tooltip>
          </md-button>
        </md-card-header>
        <md-card-content>
          <preview-form
            :fields-add="this.fields"
            :signature-statuss="this.sigstatus"
            :privacystatement="this.privacystatement"
            :radiostatus="this.radiostatus"
            :radioactive="this.radioactive"
            :autoackn="this.autoackn"
            :autocomun="this.autocommun"
          />
        </md-card-content>
      </md-card>
    </div>
    <md-table
      v-model="searched"
      md-sort="form_name"
      md-sort-order="asc"
      md-fixed-header
      v-if="showme">
      <md-table-toolbar>
        <md-field
          md-clearable
          class="md-toolbar-section-end">
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="searchOnTable" />
        </md-field>
      </md-table-toolbar>

      <md-table-row
        :class="isDeleted(item.id)"
        slot="md-table-row"
        slot-scope="{ item }">
        <md-table-cell
          md-label="Name"
          md-sort-by="form_name">{{ item.form_name }}</md-table-cell>
        <md-table-cell md-label="Created By" >{{ item.created_by }}</md-table-cell>
        <md-table-cell md-label="Date Created" >{{ item.creation_date }}</md-table-cell>
        <md-table-cell md-label="Date Active" >{{ item.activation_date }}</md-table-cell>
        <md-table-cell md-label="Termination Date" >{{ item.inactivation_date }}</md-table-cell>
        <md-table-cell
          md-label="Brand"
          md-sort-by="brand">{{ item.brand }}</md-table-cell>
        <!--<md-table-cell md-label="Respondents">{{ item.respondents }}</md-table-cell>-->
        <md-table-cell md-label="Preview Form">
          <md-button
            class="md-just-icon md-simple md-primary"
            @click="OpenFormpressed(item.id)">
            <md-icon>open_in_browser</md-icon>
            <md-tooltip md-direction="top">Open</md-tooltip>
          </md-button>
          <md-button
            class="md-just-icon md-simple md-danger"
            @click="DeleteFormpressed(item.id)">
            <md-icon>delete</md-icon>
            <md-tooltip md-direction="top">Delete</md-tooltip>
          </md-button>
        </md-table-cell>
        <md-table-cell md-label="Distribute Form">
          <!--<md-button class="md-just-icon md-simple md-primary" @click="DownloadFormpressed(item.id)">-->
          <!--<md-icon>get_app</md-icon>-->
          <!--<md-tooltip md-direction="top">Download</md-tooltip>-->
          <!--</md-button>-->
          <md-button
            class="md-just-icon md-simple md-accent"
            @click="shareform(item.id)">
            <md-icon>share</md-icon>
            <md-tooltip md-direction="top">SMS/Email</md-tooltip>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
    <md-dialog :md-active.sync="showsharedialog">
      <div style="width: 100%">
        <md-button
          style="width: 49%"
          class="md-button md-raised md-primary"
          @click="SmsComponentpressed">By SMS</md-button>
        <md-button
          style="width: 49%"
          class="md-button md-raised md-primary"
          @click="EmailComponentpressed">By Email</md-button>
      </div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveBySms">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">SMS</h4>
            <p class="category">(Brief message to respondents to fill the form. Link to the Form will be auto-displayed in your SMS)</p>
          </md-card-header>
          <md-card-content>
            <div>
              <form novalidate>
                <md-field>
                  <label>Message</label>
                  <md-textarea v-model="SmsMessage">{{ this.SmsMessage }}</md-textarea>
                </md-field>
              </form>
            </div>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveByEmail">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Email</h4>
            <p class="category">(Request respondents to fill your Form and provide other useful details. Link to the Form will be auto-displayed in your email for respondents to click and fill)</p>
            <!--<p class="category">Here is a subtitle for this table</p>-->
          </md-card-header>
          <md-card-content>
            <md-field>
              <label>Mail From Name</label>
              <md-input v-model="emailFrom" placehoder="From Name that will display on user inbox"></md-input>
            </md-field>
            <md-field>
              <label>Mail Subject</label>
              <md-input v-model="emailSubject" placeholder="Email subject that will display on user inbox"></md-input>
            </md-field>
            <div >
              <vue-editor
                v-model="content"
                v-if="ActiveByEmail"/>
                <!--<md-button id="one" class="md-primary" @click="" v-if="">Send</md-button>-->
                <!--<md-button id="two" class="md-primary" @click="" v-if="">Discard</md-button>-->
            </div>

          </md-card-content>
        </md-card>
      </div>
      <md-dialog-actions>
        <md-button
          class="md-just-icon md-simple md-primary "
          @click="uploadcontactsclick"
          v-if="ActiveBySms">
          <md-icon>contact_phone</md-icon>
          <md-tooltip md-direction="top">Upload Phone numbers</md-tooltip>
        </md-button>

        <md-button
          class="d-just-icon md-simple md-primary"
          @click="uploadclick"
          v-if="ActiveByEmail">
          <md-icon>contact_mail</md-icon>
          <md-tooltip md-direction="top">Please Add Email Contacts</md-tooltip>
        </md-button>

        <md-button
          class="md-primary"
          @click="showsharedialog = false">Close</md-button>
        <md-button
          class="md-primary"
          @click="submitform">Distribute</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-dialog :md-active.sync="active1">
      <md-dialog-title>Press Enter to add Email</md-dialog-title>
      <md-chips
        style="padding: 20px;
    padding-bottom: 0px;"
        v-model="mailid"
        md-placeholder="Add E-mail and enter..."
        v-if="active1"/>
      <div style="display:flex;align-items:baseline">
      <md-field style="flex:1">
        <label>Upload email CSV</label>
        <md-file @md-change="handleCsvImport"></md-file>
      </md-field>
      <md-button class="md-icon-button" @click="onClickCsvImport('email')"><md-icon>arrow_upward</md-icon></md-button>
      </div>
      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="active1 = false">Close</md-button>
        <md-button
          class="md-primary"
          @click="active1 = false">Save</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-dialog :md-active.sync="active2">
      <md-dialog-title>Press Enter to add Mobile Number</md-dialog-title>
      <md-chips
        style="padding: 20px;
    padding-bottom: 0px;"
        v-model="numbers"
        md-placeholder="Add mobile number and enter..."
        v-if="active2"/>
      <div style="display:flex;align-items:baseline">
      <md-field style="flex:1">
        <label>Upload phone numbers from CSV</label>
        <md-file @md-change="handleCsvImport"></md-file>
      </md-field>
      <md-button class="md-icon-button" @click="onClickCsvImport('number')"><md-icon>arrow_upward</md-icon></md-button>
      </div>
      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="active2 = false">Close</md-button>
        <md-button
          class="md-primary"
          @click="active2 = false">Save</md-button>
      </md-dialog-actions>
    </md-dialog>
    <!--<md-button class="md-primary md-raised" @click="showsharedialog = true">Show Dialog</md-button>-->
    <md-dialog-alert
      :md-active.sync="first"
      md-title="Form Distributed"
      md-content="Well done! Your form has been sent to your respondents to fill." />
  </div>
</template>

<script>

import PreviewForm from '../components/Tables/PreviewForm'
import axios from 'axios'
import jsPDF from 'jspdf'
import papa from 'papaparse'
import { VueEditor, Quill } from 'vue2-editor'

const toLower = text => {
  return text.toString().toLowerCase()
}
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item => toLower(item.form_name).includes(toLower(term)))
  }
  return items
}

export default {
  components: { PreviewForm, Quill, VueEditor },
  name: 'ManageForms',
  created: function () {
    var axios = require('axios')
    var _this = this
    var U_ID = localStorage.getItem('u_id')
    this.Token = localStorage.getItem('_token')
    var urlforreq = `${process.env.VUE_APP_API_URI}/getallformnamesbyid/`
    axios.get(urlforreq + U_ID, {
      headers: {
        Authorization: 'Bearer ' + this.Token
      }
    }).then(function (response) {
      console.log(response.data)
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear()
        _this.$router.push('login')
      }
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear()
        _this.$router.push('login')
      }
      var i = 0
      var arrr = []
      _this.users = arrr
      while (i < response.data.length) {
        _this.users.push(response.data[i])
        //                    console.log(response.data[i]);
        i++
      }
      _this.searched = _this.users
      _this.showme = true
    })
  },
  data: () => ({
    first: false,
    Token: '',
    searched: [],
    search: null,
    formid: '',
    content: '',
    active1: false,
    active2: false,
    mailid: [],
    numbers: [],
    ActiveBySms: false,
    ActiveByEmail: true,
    SmsMessage: '',
    showsharedialog: false,
    showme: false,
    selected: [],
    users: [],
    formname: 'name',
    sigstatus: false,
    radiostatus: false,
    radioactive: false,
    autoackn: 'Email',
    autocommun: 'SMS',
    privacystatement: 'we re an organisation with a strict privacy policy. By submitting your details you are agreed to recieve occasional e-mails from us about events refresh and Special offers',
    ActiveOpenForm: false,
    showpreviewform: false,
    fields: [],
    LinktoSend: `${process.env.VUE_APP_WEB_URI}/?#/i-p-forms`,
    csvFile: '',
    emailSubject: '',
    emailFrom: '',
    deletedForms: [],
  }),

  methods: {
    searchOnTable () {
      console.log('users=->')
      console.log(this.users)
      console.log('search=->')
      console.log(this.search)
      this.searched = searchByName(this.users, this.search)
    },
    submitform () {
      var _this = this
      var i = 0
      var aroflinks = []
      var attatchlink = []
      let htmlContent = this.content.replace(/\r?\n/g, '<br />')
      while (i < this.mailid.length) {
        var link = this.LinktoSend + '/' + this.formid
        link += this.mailid[i].toString()
        aroflinks.push(link)
        attatchlink.push(htmlContent + '<br/><br/>  Link: ' + link)
        i++
      }

      var U_ID = localStorage.getItem('u_id')
      this.Token = localStorage.getItem('_token')
      var urlforreq = `${process.env.VUE_APP_API_URI}/sendsmsandemail`
      //
      var k = 0
      while (k < this.mailid.length) {
        var dataforemail = {
          emails: this.mailid[k],
          econtent: htmlContent + '<br/><br/>  Link: ' + this.LinktoSend + '/' + this.formid + '/' + U_ID + '/' + U_ID + '/' + this.mailid[k],
          numbers: 'forbidden',
          sms: 'forbidden',
          formid: this.formid,
          creatorid: U_ID,
          distributorid: U_ID,
          emailSubject: this.emailSubject,
          emailFrom: this.emailFrom
        }
        axios.post(urlforreq, dataforemail, {
          headers: {
            Authorization: 'Bearer ' + this.Token
          }
        }).then(function (response) {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear()
            _this.$router.push('login')
          }
        })
        k++
      }
      k = 0
      while (k < this.numbers.length) {
        var dataforsms = {
          emails: 'forbidden',
          econtent: 'forbidden',
          numbers: this.numbers[k],
          sms: this.SmsMessage + '  Link: ' + this.LinktoSend + '/' + this.formid + '/' + U_ID + '/' + U_ID + '/message/',
          formid: this.formid,
          creatorid: U_ID,
          distributorid: U_ID
        }
        axios.post(urlforreq, dataforsms, {
          headers: {
            Authorization: 'Bearer ' + this.Token
          }
        }).then(function (response) {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear()
            _this.$router.push('login')
          }
        })
        k++
      }
      this.showsharedialog = false
      this.first = true
    },

    uploadcontactsclick () {
      //              console.log('heyyyyy!');
      this.active2 = true
    },
    uploadclick (id) {
      this.active1 = true
    },
    SmsComponentpressed () {
      this.active1 = false
      this.active2 = false
      this.ActiveBySms = true
      this.ActiveByEmail = false
    },
    EmailComponentpressed () {
      this.active1 = false
      this.active2 = false
      this.ActiveByEmail = true
      this.ActiveBySms = false
    },
    shareform (formid) {
      console.log('===>' + formid)
      this.formid = formid
      console.log('===>' + this.formid)
      this.showsharedialog = true
    },
    closepreview () {
      this.showpreviewform = false
    },
    DownloadFormpressed () {
      var doc = new jsPDF()
      //                doc.text('Hello world!', 10, 10);
      doc.text(document.getElementById('content').innerHTML, 15, 15, {
        'width': 1000
      })
      doc.save('a4.html')
    },
    DeleteFormpressed (v) {
      var _this = this
      var urlforreq = `${process.env.VUE_APP_API_URI}/deleteformbyid/`
      axios.get(urlforreq + v, {
        headers: {
          Authorization: 'Bearer ' + this.Token
        }
      }).then(function (response) {
        console.log(response.data)
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear()
          _this.$router.push('login')
        }
        _this.refreshafterdelete()
        _this.deletedForms.push(v);
      })
    },
    isDeleted (formId) {
      for (let i = 0; i < this.deletedForms.length; i++) {
        if (this.deletedForms[i] == formId) {
          return { 'md-hide': true };
        }
      }
    },
    OpenFormpressed (v) {
      var _this = this
      var urlforreq = `${process.env.VUE_APP_API_URI}/getsingleformbyid`

      var datajson = {
        formid: v,
        creatorid: 'forbidden',
        distributorid: 'forbidden'
      }

      axios.post(urlforreq, datajson, {
        headers: {
          Authorization: 'Bearer ' + this.Token // the token is a variable which holds the token
        }
      }).then(function (response) {
        console.log(response.data)
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear()
          _this.$router.push('login')
        }
        _this.formname = 'myname'
        console.log('===>' + response.data[0].sig_box)
        if (response.data[0].sig_box == 'active') { _this.sigstatus = response.data[0].sig_box } else _this.sigstatus = false

        _this.radiostatus = response.data[0].radio_status

        if (response.data[0].radio_active === 'active') { _this.radioactive = response.data[0].radio_active } else _this.radioactive = false
        _this.autoackn = response.data[0].auto_acknowledge
        _this.autocommun = response.data[0].auto_communication
        var arr = response.data[0].fields.split(',')
        arr.pop()

        _this.fields = arr
        console.log(_this.fields)

        _this.showpreviewform = true
      })
      console.log(v)
      this.ActiveOpenForm = !this.ActiveOpenForm
    },
    onSelect: function (items) {
      this.selected = items
    },
    refreshafterdelete () {
      var axios = require('axios')
      var _this = this
      var U_ID = localStorage.getItem('u_id')
      this.Token = localStorage.getItem('_token')
      var urlforreq = `${process.env.VUE_APP_API_URI}/getallformnamesbyid/`
      axios.get(urlforreq + U_ID, {
        headers: {
          Authorization: 'Bearer ' + this.Token
        }
      }).then(function (response) {
        //                    console.log(response.data);
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear()
          _this.$router.push('login')
        }
        var i = 0
        var arrr = []
        _this.users = arrr
        while (i < response.data.length) {
          _this.users.push(response.data[i])
          console.log(response.data[i])
          i++
        }
        console.log(true)
        _this.showme = true
      })
    },
    handleCsvImport (fileList) {
      this.csvFile = fileList[0]
    },
    onClickCsvImport (type) {
      let _this = this
      if (this.csvFile) {
        papa.parse(this.csvFile, {
          complete: (result) => {
            for (let i = 0; i < result.data.length; i++) {

              let chip = result.data[i][0]
              if (type === 'email') {
                if (_this.validEmail(chip) && !_this.mailid.includes(chip)) {
                  _this.mailid.push(chip)
                }
              } else if (type === 'number') {
                if (chip && !_this.numbers.includes(chip)) {
                  _this.numbers.push(chip)
                }
              }
            }
          }
        })
      }
    },
    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  }
}
</script>

<style scoped>
    .md-dialog {
        max-width: 768px !important;
        max-height: 100%;
    }
    .md-dialog-actions{
        justify-content: center !important;
    }
</style>
