<template>
  <div>
    <form>

      <md-field>
        <label>Enter User ID</label>
        <md-input/>
      </md-field>

      <md-card-actions>
        <md-button
          class="md-primary"
          @click="">Open</md-button>
      </md-card-actions>

    </form>
  </div>
</template>

<script>
export default {
  name: 'OpenForm',
  methods: {
  }
}
</script>

<style scoped>

</style>
