<template>
  <div>
    <form novalidate>
      <md-field >
        <label>Segment Name(Automatically filled)</label>
        <md-input/>
      </md-field>

      <md-field >
        <label> Segment Description</label>
        <md-input/>
      </md-field>

      <md-field >
        <label>Number Of Targerts In Segment</label>
        <md-input/>
      </md-field>
    </form>

    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      v-if="true">
      <md-card>
        <md-card-header data-background-color="green">
          <h4 class="title">{Respondents In Segment}</h4>
          <!--<p class="category">Here is a subtitle for this table</p>-->
        </md-card-header>
        <md-card-content>
          <respondents-in-segment/>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
import RespondentsInSegment from './RespondentsInSegment'

export default {
  components: { RespondentsInSegment },
  name: 'PartOfSegment'
}
</script>

<style scoped>

</style>
