<template>
  <md-table v-model="users">
    <md-table-row
      slot="md-table-row"
      slot-scope="{ item }"
      @md-selected="onSelect"
      md-selectable="multiple"
      md-auto-select>
      <md-table-cell md-label="Field1">{{ item.name }}</md-table-cell>
      <md-table-cell md-label="Field2">{{ item.createdby }}</md-table-cell>
      <md-table-cell md-label="Field3">{{ item.dateofcreation }}</md-table-cell>
      <md-table-cell md-label="Field4">{{ item.inactivationdate }}</md-table-cell>
      <md-table-cell md-label="Field5">{{ item.activitytype }}</md-table-cell>
      <md-table-cell md-label="Field6">{{ item.brand }}</md-table-cell>
      <md-table-cell>
        <md-button class="md-just-icon md-simple md-primary">
          <md-icon>open_in_browser</md-icon>
          <md-tooltip md-direction="top">Open</md-tooltip>
        </md-button>
      </md-table-cell>
    </md-table-row>
    <md-table-row>
      <md-table-cell>
        <md-button class="md-primary btn" ><md-label>Download</md-label></md-button>
        <md-button class="md-primary btn" ><md-label>Share</md-label></md-button>
        <md-button class="md-primary btn" ><md-label>Send SMS</md-label></md-button>
        <md-button class="md-primary btn" ><md-label>Send Email</md-label></md-button>
      </md-table-cell>
    </md-table-row>
  </md-table>
</template>

<script>
export default {
  name: 'RespondentsInSegment',
  data: () => ({
    selected: [],
    users: [

      {
        name: 'Name"',
        createdby: 'Created',
        dateofcreation: 'Dateo',
        inactivationdate: 'Inactivation',
        activitytype: 'Activity',
        brand: 'Brands',
        respondents: 'Respond',
        downloadit: 'Downloads'
      },
      {
        name: 'Name"',
        createdby: 'Created',
        dateofcreation: 'Dateo',
        inactivationdate: 'Inactivation',
        activitytype: 'Activity',
        brand: 'Brands',
        respondents: 'Respond',
        downloadit: 'Downloads'
      }
    ]

  }),

  methods: {
    onSelect: function (items) {
      this.selected = items
    }
  }
}
</script>

<style scoped>
.btn{
    float: left;
    margin-left: 45%;
}
</style>
