<template>
  <div>
  <md-table
    v-model="segmentList"
    @md-selected="onSelect">
    <md-table-row
      slot="md-table-row"
      slot-scope="{ item }"
      :class="isDeleted(item.id)"
      >
      <md-table-cell md-label="Name of Segment">{{ item.name }}</md-table-cell>
      <md-table-cell md-label="Segment Description">{{ item.description }}</md-table-cell>
      <md-table-cell md-label="Brand Of Focus">{{ item.brand_of_focus }}</md-table-cell>
      <md-table-cell md-label="Created By">{{ item.creator.name }}</md-table-cell>
      <md-table-cell md-label="Date Created">{{ item.created_at | moment('YYYY-MM-DD') }}</md-table-cell>
      <md-table-cell>

        <md-button class="md-just-icon md-simple md-primary">
          <md-icon>open_in_browser</md-icon>
          <md-tooltip md-direction="top">Preview</md-tooltip>
        </md-button>
        <md-button class="md-just-icon md-simple md-danger" @click="showEditSegment(item)">
          <md-icon>edit</md-icon>
          <md-tooltip md-direction="top">Edit</md-tooltip>
        </md-button>
        <md-button class="md-just-icon md-simple md-primary" @click="deleteSegment(item)">
          <md-icon>delete</md-icon>
          <md-tooltip md-direction="top">delete</md-tooltip>
        </md-button>
      </md-table-cell>
    </md-table-row>
  </md-table>
  <md-snackbar :md-position="position" :md-duration="duration" :md-active.sync="showSnackbar" md-persistent>
    <span>Segment deleted!</span>
    <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
  </md-snackbar>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'SegmentList',
  props: ['segmentId'],
  data: () => ({
    selected: [],
    segmentList: [],
    deletedSegment: [],
    showSnackbar: false,
    position: 'center',
    duration: 4000,
  }),
  mounted () {
    let url = `${process.env.VUE_APP_API_URI}/segment`;
    let token = localStorage.getItem('_token');
    let header = {
      headers: { Authorization: 'Bearer ' + token },
    };

    axios.get(url, header)
      .then(response => {
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear();
          this.$router.push('login');
        }
        this.segmentList = response.data;
      })
      .catch((error) => {
        console.log(error);
      })
      .then(() => {

      });
  },
  methods: {
    onSelect: function (items) {
      this.selected = items;
    },
    showEditSegment (segment) {
      this.$emit('update:segment', segment);
      this.$emit('event-segment-edit-click');
    },
    deleteSegment (segment) {
      let url = `${process.env.VUE_APP_API_URI}/segment/${segment.id}`;
      let token = localStorage.getItem('_token');
      let header = {
        headers: { Authorization: 'Bearer ' + token },
      };
      axios.delete(url, header)
        .then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
          if (response.data.success) {
            this.deletedSegment.push(segment.id);
            this.showSnackbar = true;
          }
        })
        .catch((error) => {
          console.log(error);
        })
        .then(() => {

        });
    },
    isDeleted (segmentId) {
      for (let i = 0; i < this.deletedSegment.length; i++) {
        if (this.deletedSegment[i] === segmentId) {
          return { 'md-hide': true };
        }
      }
    },
  },
};
</script>

<style scoped>
    .btn{
        margin-left: 41%;
        width: 200px;
    }
</style>
