<template>
  <div>
    <form>
      <md-field
        v-for="(rule , index) in segmentRules"
        :id="index">
        <label>{{ rule.field }}</label>
        <md-input readonly v-model="rule.value"/>
        <md-button
          class="md-just-icon"
          @click="removeformfield(index)"
          style="margin: 0;">
          <md-icon>delete</md-icon>
          <md-tooltip class="md-direction-top">Remove Field</md-tooltip>
        </md-button>
      </md-field>
    </form>
    <div class="addbuttons">
      <div>
        <md-button
          id="btn1"
          @click="showRuleForm"
          class="md-fab md-accent md-raised md-icon-button"
          style="float: left; position: relative; background: none !important;color: #000 !important; box-shadow: none !important">
          <md-icon>add</md-icon>
        </md-button>
        <p>Add Rule</p>
      </div>
      <div v-if="isShowRuleForm" style="clear:both">
        <div class="md-layout md-gutter">
          <div class="md-layout-item">
            <md-field>
            <md-select v-model="selectedRuleField" name="ruleFields" id="ruleFields" placeholder="Select a Field" >
              <md-option v-for="ruleField in ruleFields" :value="ruleField">{{ ruleField }}</md-option>
            </md-select>
            </md-field>
          </div>
          <div class="md-layout-item">
            <md-field>
              <label>Type Name of the field</label>
              <md-input v-model="selectedRuleValue" name="ruleValue" id="ruleValue" placeholder="Enter a value" />
            </md-field>
          </div>
          <div class="md-layout-item">
          <md-button
            class="md-primary"
            @click="addSegmentRule">Create</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'SegmentRule',
  props: ['segmentRules'],
  data () {
    return {
      isShowRuleForm: false,
      ruleFields: [],
      selectedRuleField: null,
      selectedRuleValue: null,
      // selectedRuleIsAll: false,
    };
  },
  mounted () {
    if (this.segmentRules) {
      this.ruleFields = this.segmentRules;
    }
    let url = `${process.env.VUE_APP_API_URI}/segment/get_fields`;
    let token = localStorage.getItem('_token');
    let header = {
      headers: { Authorization: 'Bearer ' + token },
    };

    axios.get(url, header)
      .then(response => {
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear();
          this.$router.push('login');
        }
        this.ruleFields = response.data;
      })
      .catch((error) => {
        console.log(error);
      })
      .then(() => {

      });
  },
  methods: {
    showRuleForm () {
      this.isShowRuleForm = !this.isShowRuleForm;
    },
    getValidationClass () {
      //
    },
    addSegmentRule () {
      console.log(this.selectedRuleField)
      let rule = {}
      if (this.selectedRuleValue != null) {
        rule = {
          field: this.selectedRuleField,
          value: this.selectedRuleValue,
          // is_all: this.selectedRuleIsAll,
        };
        this.segmentRules.push(rule);
      }

      this.selectedRuleField = null;
      this.selectedRuleValue = null;
      console.log('cangtest', this.segmentRules);
    },
    removeformfield (val) {
      if (val != null) { this.$delete(this.fields, val) }
    },
    // greetsignature(){
    //     this.fields.push({
    //         name:this.signature,
    //     });
    // },
  },

};
</script>

<style scoped>
  .addbuttons{
    width: 100%;
    float: left;
  }
  .addbuttons .md-ripple {
    background: none !important;
    color: #000 !important;
  }
  .addbuttons .md-ripple .md-button-content i{
    color: #000 !important;
    font-size: 2rem !important;
  }
  p{
    float: left;
    line-height: 4;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 2%;
  }
  .btn{
    margin-left: 41%;
    width: 200px;
  }
</style>
