<template>
  <div>
    <md-table
      v-model="users"
      md-sort="form_name"
      md-sort-order="asc"
      md-card
      @md-selected="onSelect">
      <md-table-row
        slot="md-table-row"
        slot-scope="{ item }"
        :class="getClass(item)"
        md-selectable="single">
        <md-table-cell
          md-label="Name of Form"
          md-sort-by="form_name">{{ item.form_name }}</md-table-cell>
        <md-table-cell md-label="Created By">{{ item.email }}</md-table-cell>
        <md-table-cell
          md-label="Date Created"
          md-numeric>{{ item.creation_date }}</md-table-cell>
        <md-table-cell md-label="Active Date">{{ item.activation_date }}</md-table-cell>
        <md-table-cell md-label="Distributed By">{{ item.distributed_by }}</md-table-cell>
        <md-table-cell md-label="Administrated By">{{ item.administrated_by }}</md-table-cell>
        <md-table-cell md-label="No. Delivered">{{ item.numberofsent }}</md-table-cell>
        <md-table-cell md-label="%Delivered">{{ item.numberofsent }}</md-table-cell>
        <md-table-cell md-label="%Opened">{{ item.numberofopen }}</md-table-cell>
        <md-table-cell md-label="No. Filled">{{ item.numberofsubmits }}</md-table-cell>
        <md-table-cell md-label="%Filled">{{ item.numberofsubmits }}</md-table-cell>
      </md-table-row>
    </md-table>
    <md-table>
      <md-table-row>
        <md-button
          class="md-button md-primary btn"
          @click="submitform">Done</md-button>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'TrackDistribution',
  created: function () {
    _this = this
    var axios = require('axios')
    var _this = this
    var U_ID = localStorage.getItem('u_id')
    this.Token = localStorage.getItem('_token')
    var urlforreq = `${process.env.VUE_APP_API_URI}/getallformnamesbyid/`
    //            axios.get(urlforreq+U_ID,{
    //                headers: {
    //                    Authorization: 'Bearer ' + this.Token
    //                },
    //            }).then(function (response) {
    //                    console.log(response.data);
    //                var i=0;
    //                var arrr = [];
    //                _this.users = arrr;
    //                while(i<response.data.length){
    //
    //                    var data = {
    //                        form_name: response.data[i].form_name,
    //                        creator: response.data[i].created_by,
    //                        creation_date: response.data[i].creation_date,
    //                        inactivation_date: response.data[i].inactivation_date,
    //                        distributor_id: response.data[i].distributor_id,
    //                        Administrated_by: response.data[i].created_by,
    //                        number_of_delivered: response.data[i].numberofdelivered,
    //                        delivered_percentage: '100%',
    //                        open_percentage: '100%',
    //                        number_of_submits: response.data[i].numberofsubmits,
    //                        submit_percentage: '100%',
    //                        brand: "iam",
    //                    }
    //
    //                    _this.users.push(response.data[i]);
    /// /                    console.log(response.data[i]);
    //                    i++;
    //                }
    /// /                console.log(true);
    //                _this.showme= true;
    //            })
    this.users = []
    var that = this
    var urlforreq = `${process.env.VUE_APP_API_URI}/gettrackdistribution`
    axios.post(urlforreq, { a: 'b' }, {
      headers: {
        Authorization: 'Bearer ' + this.Token
      }
    }).then(function (response) {
      console.log('Track-->')
      console.log(response.data)
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear()
        _this.$router.push('login')
      }
      var i = 0
      while (i < response.data.length) {
        if (response.data[i].numberofsent > 0) {
          if (response.data[i].form_name == 'testttttt') {
            response.data[i].form_name = 'test'
          }
          that.users.push(response.data[i])
        }
        i++
      }
    })
  },
  data: () => ({
    Token: '',
    ActiveOpenForm: false,
    selected1: {},
    selected: [],
    users: []
  }),

  methods: {
    getClass: ({ id }) => ({
      'md-primary': id >= 0
      //                'md-accent': id <= 3,
      //                'md-transparent': id >= 1
    }),
    onSelect (item) {
      this.selected1 = item
    },
    submitform () {
      //                var data = {
      //                    form_name: "name",
      //                    creator: "me",
      //                    creation_date: "3-12-2018",
      //                    inactivation_date: "2018-12-8",
      //                    distributor_id: 1,
      //                    Administrated_by: 1,
      //                    number_of_delivered: 3,
      //                    delivered_percentage: 3,
      //                    open_percentage: 13,
      //                    number_of_submits: 2,
      //                    submit_percentage: 2,
      //                    brand: "iam",
      //                }
      var data
      this.users = []
      var that = this
      var urlforreq = `${process.env.VUE_APP_API_URI}/gettrackdistribution`
      axios.post(urlforreq, { a: 'b' }, {
        headers: {
          Authorization: 'Bearer ' + this.Token
        }
      }).then(function (response) {
        console.log('Track-->')
        console.log(response.data)
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear()
          that.$router.push('login')
        }
        var i = 0
        while (i < response.data.length) {
          if (response.data[i].numberofsent > 0) {
            that.users.push(response.data[i])
          }
          i++
        }
      })
    },
    onSelect: function (items) {
      this.selected = items
    }
  }
}
</script>

<style scoped="">
.btn{
    margin-left: 41%;float: left;
}
.md-table
{

    max-height: 500px !important;
}
.md-table-content{
    max-height: 500px !important;
}
.md-table-cell-container{
    text-align: center !important;
    justify-content: center;
}
/*.md-content{*/
    /*max-height: 500px !important;*/

/*}*/
.md-table-head-container{
    text-align: center !important;
}
</style>
