<template>
  <div
    class="content"
    style="text-align: center">
    <form
      novalidate
      class="md-layout"
      @submit.prevent="validateUser"
      v-if="createUser">
      <md-card class="md-layout-item md-size-50 md-small-size-100">
        <md-card-header>
          <div class="md-title">Client Registration</div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('firstName')">
                <label for="first-name">First Name</label>
                <md-input
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  v-model="form.firstName"
                  :disabled="sending" />
                <span
                  class="md-error"
                  v-if="!$v.form.firstName.required">The first name is required</span>
                <span
                  class="md-error"
                  v-else-if="!$v.form.firstName.minlength">Invalid first name</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('lastName')">
                <label for="last-name">Last Name</label>
                <md-input
                  name="last-name"
                  id="last-name"
                  autocomplete="family-name"
                  v-model="form.lastName"
                  :disabled="sending" />
                <span
                  class="md-error"
                  v-if="!$v.form.lastName.required">The last name is required</span>
                <span
                  class="md-error"
                  v-else-if="!$v.form.lastName.minlength">Invalid last name</span>
              </md-field>
            </div>
          </div>

          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('gender')">
                <label for="gender">Gender</label>
                <md-select
                  name="gender"
                  id="gender"
                  v-model="form.gender"
                  md-dense
                  :disabled="sending">
                  <md-option/>
                  <md-option value="M">M</md-option>
                  <md-option value="F">F</md-option>
                </md-select>
                <span class="md-error">The gender is required</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('age')">
                <label for="age">Age</label>
                <md-input
                  type="number"
                  id="age"
                  name="age"
                  autocomplete="age"
                  v-model="form.age"
                  :disabled="sending" />
                <span
                  class="md-error"
                  v-if="!$v.form.age.required">The age is required</span>
                <span
                  class="md-error"
                  v-else-if="!$v.form.age.maxlength">Invalid age</span>
              </md-field>
            </div>
          </div>

          <md-field :class="getValidationClass('email')">
            <label for="email">Email</label>
            <md-input
              type="email"
              name="email"
              id="email-r"
              autocomplete="email"
              v-model="form.email"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The email is required</span>
            <span
              class="md-error"
              v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>

          <md-field>
            <label>Password</label>
            <md-input
              type="password"
              name="password"
              id="password-r"
              v-model="form.password"
              :disabled="sending" />
          </md-field>

          <md-field :class="getValidationClass('email')">
            <label for="mobile-r">Mobile</label>
            <md-input
              type="number"
              name="mobile"
              id="mobile-r"
              autocomplete=""
              v-model="form.mobile"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The number is required</span>
          </md-field>

          <md-field :class="getValidationClass('email')">
            <label for="organisation-r">Organisation</label>
            <md-input
              type="text"
              name="organisation"
              id="organisation-r"
              autocomplete=""
              v-model="form.organisation"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The organisation is required</span>
          </md-field>

          <md-field :class="getValidationClass('email')">
            <label for="organisation-r">Respondent</label>
            <md-input
              type="text"
              name="Respondent"
              id="Respondent-r"
              autocomplete=""
              v-model="form.Respondent"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The Respondent is required</span>
          </md-field>
        </md-card-content>

        <div class="md-layout md-gutter">
          <div class="md-layout-item md-small-size-100">
            <md-field>
              <label for="S-Form">Select Country</label>
              <md-select
                name="s-form"
                id="s-form"
                v-model="f_selected"
                @change="onselectname()" >
                <md-option
                  class="forwidth"
                  v-for="item in country"
                  :value="item.name">
                  {{ item.name }}
                </md-option>
              </md-select>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100">
            <md-field :class="getValidationClass('agr')">
              <label for="Plan">Choose a Plan</label>
              <md-select
                name="Plan"
                id="Plan"
                v-model="form.Plan"
                md-dense
                :disabled="sending">
                <md-option/>
                <!--<md-option value="M">M</md-option>-->
                <!--<md-option value="F">F</md-option>-->
              </md-select>
              <span class="md-error">The Plan is required</span>
            </md-field>
          </div>
        </div>

        <md-field>
          <label>Logo images</label>
          <md-file
            v-model="logoimage"
            accept="image/*"
            :disabled="sending"/>
        </md-field>
        <!--<md-field :class="getValidationClass('email')">-->
        <!--<label for="logo-r">Logo</label>-->
        <!--<md-input type="file" name="logo" id="logo-r" :disabled="sending" />-->
        <!--</md-field>-->

        <md-progress-bar
          md-mode="indeterminate"
          v-if="sending" />

        <md-card-actions>

          <a
            @click="toggleclientLogin"
            style="padding-right: 20%;"
            href="#"
            class="md-dense ">Already have account?</a>
          <md-button
            type="submit"
            class="md-primary"
            :disabled="sending">Create user</md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar :md-active.sync="userSaved">The user {{ lastUser }} was saved with success!</md-snackbar>
    </form>

    <form
      novalidate
      class="md-layout"
      @submit.prevent="loginRequest"
      v-if="loginForm">
      <md-card class="md-layout-item md-size-50 md-small-size-100">
        <md-card-header>
          <div class="md-title">Client Login</div>
        </md-card-header>

        <md-card-content>
          <md-field :class="getValidationClass('email')">
            <label for="email">Email</label>
            <md-input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              v-model="form.email"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The email is required</span>
            <span
              class="md-error"
              v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>
          <md-field :class="getValidationClass('email')">
            <label for="email">Password</label>
            <md-input
              type="password"
              name="password"
              id="password"
              autocomplete="password"
              v-model="form.password"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The email is required</span>
            <span
              class="md-error"
              v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>
        </md-card-content>
        <md-progress-bar
          md-mode="indeterminate"
          v-if="sending" />
        <md-card-actions>
          <a
            @click="toggleRegisterLogin"
            style="padding-right: 20%;"
            href="#"
            class="md-dense ">Create New Account?</a>
          <md-button
            type="submit"
            class="md-primary"
            :disabled="sending">Login</md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar :md-active.sync="userSaved">The user {{ lastUser }} was saved with success!</md-snackbar>
    </form>
  </div>

</template>

<script>
import { validationMixin } from 'vuelidate'
import axios from 'axios'

import {
  required,
  email,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'
export default {

  name: 'FormValidation',
  mixins: [validationMixin],
  data: () => ({
    country: [
      { name: 'Afghanistan' },
      {
        name:
                    'Åland Islands'
      }, { name:
                'Albania' }, { name:
                'Algeria' }, { name:
                'American Samoa' }, { name:
                'Andorra' }, { name:
                'Angola' }, { name:
                'Anguilla' }, { name:
                'Antarctica' }, { name:
                'Antigua and Barbuda' }, { name:
                'Argentina' }, { name:
                'Armenia' }, { name:
                'Aruba' }, { name:
                'Australia' }, { name:
                'Austria' }, { name:
                'Azerbaijan' }, { name:
                'Bahamas' }, { name:
                'Bahrain' }, { name:
                'Bangladesh' }, { name:
                'Barbados' }, { name:
                'Belarus' }, { name:
                'Belgium' }, { name:
                'Belize' }, { name:
                'Benin' }, { name:
                'Bermuda' }, { name:
                'Bhutan' }, { name:
                'Bolivia' },
      { name:
                'Bonaire' },
      { name:
                'Bosnia and Herzegovina' }, { name:
                'Botswana' }, { name:
                'Bouvet Island' }, { name:
                'Brazil' }, { name:
                'British Indian Ocean Territory' }, { name:
                'Brunei Darussalam' }, { name:
                'Bulgaria' }, { name:
                'Burkina Faso' }, { name:
                'Burundi' }, { name:
                'Cambodia' }, { name:
                'Cameroon' }, { name:
                'Canada' }, { name:
                'Cape Verde' }, { name:
                'Cayman Islands' }, { name:
                'Central African Republic' }, { name:
                'Chad' }, { name:
                'Chile' }, { name:
                'China' }, { name:
                'Christmas Island' }, { name:
                'Cocos (Keeling) Islands' }, { name:
                'Colombia' }, { name:
                'Comoros' },
      { name: 'Congo' },
      { name: 'Cook Islands' },
      { name:
                'Costa Rica' }, { name:
                "Côte d'Ivoire" }, { name:
                'Croatia' }, { name:
                'Cuba' }, { name:
                'Curaçao' }, { name:
                'Cyprus' }, { name:
                'Czech Republic' }, { name:
                'Denmark' }, { name:
                'Djibouti' }, { name:
                'Dominica' }, { name:
                'Dominican Republic' }, { name:
                'Ecuador' }, { name:
                'Egypt' }, { name:
                'El Salvador' }, { name:
                'Equatorial Guinea' }, { name:
                'Eritrea' }, { name:
                'Estonia' }, { name:
                'Ethiopia' }, { name:
                'Falkland Islands (Malvinas)' }, { name:
                'Faroe Islands' }, { name:
                'Fiji' }, { name:
                'Finland' }, { name:
                'France' }, { name:
                'French Guiana' }, { name:
                'French Polynesia' }, { name:
                'French Southern Territories' }, { name:
                'Gabon' }, { name:
                'Gambia' }, { name:
                'Georgia' }, { name:
                'Germany' }, { name:
                'Ghana' }, { name:
                'Gibraltar' }, { name:
                'Greece' }, { name:
                'Greenland' }, { name:
                'Grenada' }, { name:
                'Guadeloupe' }, { name:
                'Guam' }, { name:
                'Guatemala' }, { name:
                'Guernsey' }, { name:
                'Guinea' }, { name:
                'Guinea-Bissau' }, { name:
                'Guyana' }, { name:
                'Haiti' }, { name:
                'Heard Island and McDonald Islands' }, { name:
                'Holy See (Vatican City State)' }, { name:
                'Honduras' }, { name:
                'Hong Kong' }, { name:
                'Hungary' }, { name:
                'Iceland' }, { name:
                'India' }, { name:
                'Indonesia' }, { name:
                'Iran' }, { name:
                'Iraq' }, { name:
                'Ireland' }, { name:
                'Isle of Man' }, { name:
                'Israel' }, { name:
                'Italy' }, { name:
                'Jamaica' }, { name:
                'Japan' }, { name:
                'Jersey' }, { name:
                'Jordan' }, { name:
                'Kazakhstan' }, { name:
                'Kenya' }, { name:
                'Kiribati' }, { name:
                'Korea' }, { name:
                'Kuwait' }, { name:
                'Kyrgyzstan' }, { name:
                "Lao People's Democratic Republic" }, { name:
                'Latvia' }, { name:
                'Lebanon' }, { name:
                'Lesotho' }, { name:
                'Liberia' }, { name:
                'Libya' }, { name:
                'Liechtenstein' }, { name:
                'Lithuania' }, { name:
                'Luxembourg' }, { name:
                'Macao' }, { name:
                'Macedonia' }, { name:
                'Madagascar' }, { name:
                'Malawi' }, { name:
                'Malaysia' }, { name:
                'Maldives' }, { name:
                'Mali' }, { name:
                'Malta' }, { name:
                'Marshall Islands' }, { name:
                'Martinique' }, { name:
                'Mauritania' }, { name:
                'Mauritius' }, { name:
                'Mayotte' }, { name:
                'Mexico' }, { name:
                'Micronesia' }, { name:
                'Moldova' }, { name:
                'Monaco' }, { name:
                'Mongolia' }, { name:
                'Montenegro' }, { name:
                'Montserrat' }, { name:
                'Morocco' }, { name:
                'Mozambique' }, { name:
                'Myanmar' }, { name:
                'Namibia' }, { name:
                'Nauru' }, { name:
                'Nepal' }, { name:
                'Netherlands' }, { name:
                'New Caledonia' }, { name:
                'New Zealand' }, { name:
                'Nicaragua' }, { name:
                'Niger' }, { name:
                'Nigeria' }, { name:
                'Niue' }, { name:
                'Norfolk Island' }, { name:
                'Northern Mariana Islands' }, { name:
                'Norway' }, { name:
                'Oman' }, { name:
                'Pakistan' }, { name:
                'Palau' }, { name:
                'Palestine},{name : State of' }, { name:
                'Panama' }, { name:
                'Papua New Guinea' }, { name:
                'Paraguay' }, { name:
                'Peru' }, { name:
                'Philippines' }, { name:
                'Pitcairn' }, { name:
                'Poland' }, { name:
                'Portugal' }, { name:
                'Puerto Rico' }, { name:
                'Qatar' }, { name:
                'Réunion' }, { name:
                'Romania' }, { name:
                'Russian Federation' }, { name:
                'Rwanda' }, { name:
                'Saint Barthélemy' }, { name:
                'Saint Helena' }, { name:
                'Saint Kitts and Nevis' }, { name:
                'Saint Lucia' }, { name:
                'Saint Martin (French part)' }, { name:
                'Saint Pierre and Miquelon' }, { name:
                'Saint Vincent and the Grenadines' }, { name:
                'Samoa' }, { name:
                'San Marino' }, { name:
                'Sao Tome and Principe' }, { name:
                'Saudi Arabia' }, { name:
                'Senegal' }, { name:
                'Serbia' }, { name:
                'Seychelles' }, { name:
                'Sierra Leone' }, { name:
                'Singapore' }, { name:
                'Sint Maarten (Dutch part)' }, { name:
                'Slovakia' }, { name:
                'Slovenia' }, { name:
                'Solomon Islands' }, { name:
                'Somalia' }, { name:
                'South Africa' }, { name:
                'South Georgia and the South Sandwich Islands' }, { name:
                'South Sudan' }, { name:
                'Spain' }, { name:
                'Sri Lanka' }, { name:
                'Sudan' }, { name:
                'Suriname' }, { name:
                'Svalbard and Jan Mayen' }, { name:
                'Swaziland' }, { name:
                'Sweden' }, { name:
                'Switzerland' }, { name:
                'Syrian Arab Republic' }, { name:
                'Taiwan' }, { name:
                'Tajikistan' }, { name:
                'Tanzania' }, { name:
                'Thailand' }, { name:
                'Timor-Leste' }, { name:
                'Togo' }, { name:
                'Tokelau' }, { name:
                'Tonga' }, { name:
                'Trinidad and Tobago' }, { name:
                'Tunisia' }, { name:
                'Turkey' }, { name:
                'Turkmenistan' }, { name:
                'Turks and Caicos Islands' }, { name:
                'Tuvalu' }, { name:
                'Uganda' }, { name:
                'Ukraine' }, { name:
                'United Arab Emirates' }, { name:
                'United Kingdom' }, { name:
                'United States' }, { name:
                'United States Minor Outlying Islands' }, { name:
                'Uruguay' }, { name:
                'Uzbekistan' }, { name:
                'Vanuatu' }, { name:
                'Venezuela' }, { name:
                'Viet Nam' }, { name:
                'Virgin Islands' }, { name:
                'Wallis and Futuna' }, { name:
                'Western Sahara' }, { name:
                'Yemen' }, { name:
                'Zambia' }, { name:
                'Zimbabwe' }
    ],
    loginForm: true,
    email: null,
    password: null,
    _token: null,
    userinfo: null,

    form: {
      firstName: null,
      lastName: null,
      gender: null,
      age: null,
      email: null
    },
    userSaved: false,
    sending: false,
    lastUser: null,
    createUser: false
  }),
  validations: {
    form: {
      firstName: {
        required,
        minLength: minLength(3)
      },
      lastName: {
        required,
        minLength: minLength(3)
      },
      age: {
        required,
        maxLength: maxLength(3)
      },
      gender: {
        required
      },
      email: {
        required,
        email
      }
    }
  },
  props: {
    dataBackgroundColor: {
      type: String,
      default: ''
    }
  },
  methods: {

    loginRequest (submitEvent) {
      var that
      console.log('login request')
      this.email = submitEvent.target.elements.email.value
      this.password = submitEvent.target.elements.password.value
      that = this
      axios.post(`${process.env.VUE_APP_API_URI}/cors/login`, {
        email: that.email,
        password: that.password
      })
        .then(function (response) {
          that._token = response.data.token
          localStorage.setItem('_token', that._token)
          // alert(localStorage.getItem('_token'));
          axios.get(`${process.env.VUE_APP_API_URI}/user`, {
            headers: {
              Authorization: 'Bearer ' + that._token // the token is a variable which holds the token
            }
          }).then(function (value) {
            that.userinfo = value.data.user
            localStorage.setItem('u_id', JSON.stringify(value.data.user.id))
            localStorage.setItem('user', JSON.stringify(that.userinfo))
          }).catch(function (reason) {
            console.log(reason)
          })
          that.$router.push('/user')
        })
        .catch(function (error) {
          console.log(error)
        })
    },

    toggleclientLogin () {
      this.loginForm = true
      this.createUser = false
    },

    toggleRegisterLogin () {
      this.loginForm = false
      this.createUser = !this.createUser
    },

    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },
    clearForm () {
      this.$v.$reset()
      this.form.firstName = null
      this.form.lastName = null
      this.form.age = null
      this.form.gender = null
      this.form.email = null
    },
    saveUser () {
      this.sending = true

      // Instead of this timeout, here you can call your API
      window.setTimeout(() => {
        this.lastUser = `${this.form.firstName} ${this.form.lastName}`
        this.userSaved = true
        this.sending = false
        this.clearForm()
      }, 1500)
    },
    validateUser (submitEvent) {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.saveUser()

        var that
        console.log('registration request' + this.form.firstName + '  ' + this.form.email + '  ' + this.form.password)
        this.f_name = submitEvent.target.elements.first - name.value
        this.l_name = submitEvent.target.elements.last - name.value
        that = this
        axios.post(`${process.env.VUE_APP_API_URI}/cors/register`, {
          name: that.form.firstName,
          email: that.form.email,
          password: that.form.password,
          password_confirmation: that.form.password
        })
          .then(function (response) {
            console.log(response)
          })
          .catch(function (error) {
            console.log(error.response.data)
          })
      }
    }
  }

}
</script>
