<template>
  <form >
    <md-field>
      <label>First Name</label>
      <md-input/>
    </md-field>
    <md-field>
      <label>Last Name</label>
      <md-input/>
    </md-field>
    <md-field>
      <label>Organization</label>
      <md-input/>
    </md-field>
    <md-field>
      <label>Mobile Number</label>
      <md-input/>
    </md-field>
    <md-field>
      <label>Country</label>
      <md-input/>
    </md-field>
    <md-field>
      <label>Sender Email Address to Respondents</label>
      <md-input/>
    </md-field>
    <md-field>
      <label>Plan</label>
      <md-input/>
    </md-field>
    <div
      class="md-layout-item md-small-size-100"
      style="padding: 0; width: 30%;">
      <md-field>
        <label for="plan">Country</label>
        <md-select
          name="plan"
          id="plan" >
          <md-option value="Pro">Pro</md-option>
          <md-option value="plus">plus</md-option>
          <md-option value="Proplus">Proplus</md-option>
        </md-select>
        <span class="md-error">The gender is required</span>
      </md-field>
    </div>
    <md-field>
      <label>Messaging Bits Balance</label>
      <md-input/>
    </md-field>
  </form>
</template>

<script>
// import MdDropDownIcon from "vue-material/src/core/icons/MdDropDownIcon";

export default {
  components: {},
  name: 'UserProfileEdit'
}
</script>

<style scoped>
    .md-menu-content{
     max-width: 74%;
    }

</style>
