<template>
  <div
    class="content"
    v-if="isAuthenticated">
    <div class="md-layout">
      <div>
        <md-menu
          style="margin:1rem"
          md-direction="bottom-end">
          <md-button
            md-menu-trigger
            class="md-primary"
            style="text-transform: none;">Profile Form</md-button>
          <md-menu-content>
            <md-menu-item @click="onClickGeneralTemplate">Create Form</md-menu-item>
            <md-menu-item @click="ManageFormspressed">Manage Form</md-menu-item>
            <md-menu-item @click="FormListpressed">Form List</md-menu-item>
            <md-menu-item @click="DownloadFilledFormspressed">Download Filled Forms</md-menu-item>
            <md-menu-item @click="GrantAccessFormpressed">Grant Access to Users</md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu style="margin:1rem">
          <md-button
            md-menu-trigger
            class="md-primary"
            style="text-transform: none;">Activate Form</md-button>
          <md-menu-content>
            <md-menu-item @click="DistributeFormspressed">Distribute</md-menu-item>
            <md-menu-item @click="TrackDistributionpressed">Track Distribution</md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu style="margin:1rem">
          <md-button
            md-menu-trigger
            class="md-primary"
            style="text-transform: none;">Profile Managment</md-button>
          <md-menu-content>
            <md-menu-item @click="CreateNewSegmentpressed">Create New Segment</md-menu-item>
            <md-menu-item @click="ActiveSegmentListpressed">Segment List</md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu style="margin:1rem">
          <md-button
            md-menu-trigger
            class="md-primary"
            style="text-transform: none;">Profile Review</md-button>
          <md-menu-content>
            <md-menu-item @click="ActiveProfileAnalyticspressed">Profile Analytics</md-menu-item>
            <md-menu-item @click="ActiveFormUseTrackpressed">Form Use Tracker</md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu style="margin:1rem">
          <md-button
            md-menu-trigger
            class="md-primary"
            style="text-transform: none;">Manage Account</md-button>
          <md-menu-content>
            <md-menu-item @click="ActiveUserProfileEditpressed">User Profile</md-menu-item>
            <md-menu-item @click="ActiveAccessManagerpressed">Account Balance</md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-size-66"
        v-if="showGeneralTemplateForm">
        <div style="padding-top: 2rem">
          <md-button
            style="margin: 5px; text-transform: none;"
            @click="onClickGeneralTemplate"
            class="md-primary">General Template</md-button>
          <md-button
            style="margin: 5px; text-transform: none;"
            class="md-accent"
            @click="onClickCustomizeForm">Customize Form</md-button>
          <md-button
            style="margin: 5px; text-transform: none;"
            class="md-accent"
            @click="CreateDuplicateForm">Duplicate Form</md-button>
          <br>
        </div>

        <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
          <md-card>
            <md-card-header data-background-color="green">
              <h4 class="title">General Template</h4>
            </md-card-header>
            <md-card-content>
              <simple-table
                @goToCreateNewForm="onClickGeneralTemplateSubmitted('general-template')"
                table-header-color="green"/>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-size-66"
        v-if="showCreatedSuccessMessage">
        <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-70">
          <md-card>
            <md-card-header
              data-background-color="green"
              v-if="currentFlow === 'general-template'">
              <h4 class="title">General Template</h4>
            </md-card-header>
            <md-card-header
              data-background-color="green"
              v-if="currentFlow === 'customize-form'">
              <h4 class="title">Customized Form Fields</h4>
              <p class="category">(Set fields to be filled by your respondents and other form contents)</p>
            </md-card-header>
            <md-card-content>
              <h4>Well done!</h4>
              <p>
                Your New Form with name below has been created:
              </p>
              <p>
                Form Name: {{ FormName }} <br>
                Date Created: {{ CreationDate }}
              </p>
              <p>
                Go <b>'Form List'</b> under the <b>'General Template'</b> icon to view your form and <b>'Distribute'</b> under the
                <b>'Activate Form'</b> icon to distribute to respondents.
              </p>
              <p>
                You may also grant access to Users to fill the form for many respondents on their devices by
                defining details of users on <b>'Grant Access to Users'</b> under the <b>'Profile Form'</b> icon.
              </p>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-size-66"
        v-if="isShowDuplicatedSuccessMessage">
        <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-70">
          <md-card>
            <md-card-header data-background-color="green">
              <h4 class="title">Duplicate Form</h4>
            </md-card-header>
            <md-card-content>
              <h4>Well done!</h4>
              <p>
                Your Duplicate Form with name below has been created:
              </p>
              <p>
                Form Name: {{ duplicatedFormName }} <br>
                Date Created: {{ CreationDate }}
              </p>
              <p>
                Go to <b>'Form List'</b> under the <b>'General Template'</b> icon to view your form and <b>'Distribute'</b> under the
                <b>'Activate Form'</b> icon to distribute to respondents.
              </p>
              <p>
                You may also grant access to Users to fill the form for many respondents on their devices by
                defining details of users on <b>'Grant Access to Users'</b> under the <b>'Profile Form'</b> icon.
              </p>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-size-66"
        v-if="isShowDistributedSuccessMessage">
        <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-70">
          <md-card>
            <md-card-header data-background-color="green">
              <h4 class="title">Distribute Forms</h4>
              <p class="category">(Select form from dropdown and input contact details of respondents to be sent form by SMS or email )</p>
            </md-card-header>
            <md-card-content>
              <h4>Well done!</h4>
              <p>
                Your Form with name below has been sent to respondents to fill:
              </p>
              <p>
                Form Name: {{ distributedFormName }} <br>
                Date Distributed: {{ (new Date()).toLocaleDateString("en-UK") }}
              </p>
              <p>
                You may also grant access to Users to fill the form for many respondents on their devices by
                defining details of users on <b>'Grant Access to Users'</b> under the <b>'Profile Form'</b> icon.
              </p>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-size-66"
        v-if="showCustomizeFormForm">
        <div style="padding-top: 2rem">
          <md-button
            style="margin: 5px; text-transform: none;"
            @click="onClickGeneralTemplate"
            class="md-accent">General Template</md-button>
          <md-button
            style="margin: 5px; text-transform: none;"
            class="md-primary"
            @click="onClickCustomizeForm">Customize Form</md-button>
          <md-button
            style="margin: 5px; text-transform: none;"
            class="md-accent"
            @click="CreateDuplicateForm">Duplicate Form</md-button>
        </div>
        <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
          <md-card>
            <md-card-header data-background-color="green">
              <h4 class="title">Customized Form Fields</h4>
              <span>Set fields to be filled by your respondents and other form contents</span>
            </md-card-header>
            <md-card-content>
              <dynamic-form
                @showFormCreatedSuccessMessage="onFormCreatedSuccess('customize-form')"
                :form-name="FormName"
                :created-by="CreatedBy"
                :creation-date="CreationDate"
                :purpose-of="PurposeOf"
                :activity-type="ActivityType"
                :activation-date="ActivationDate"
                :iactivation-date="IactivationDate"
                :brand-of="BrandOf"/>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-size-66"
        v-if="showCreateFormForm">
        <div style="padding-top: 2rem">
          <md-button
            style="margin: 5px; text-transform: none;"
            @click="onClickGeneralTemplate"
            class="md-accent">General Template</md-button>
          <md-button
            style="margin: 5px; text-transform: none;"
            class="md-primary"
            @click="onClickCustomizeForm">Customize Form</md-button>
          <md-button
            style="margin: 5px; text-transform: none;"
            class="md-accent"
            @click="CreateDuplicateForm">Duplicate Form</md-button>
        </div>
        <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
          <md-card>
            <md-card-header data-background-color="green">
              <h4 class="title">Create Name For New Form</h4>
            </md-card-header>
            <md-card-content>
              <form
                novalidate
                class="md-layout"
                @submit="validateUserCustom">
                <md-card class="md-layout-item md-size-100 md-small-size-100">
                  <md-card-content>
                    <md-field>
                      <label >Form Name</label>
                      <md-input
                        type="text"
                        v-model="FormName" />
                    </md-field>
                    <md-field>
                      <label >Created By</label>
                      <md-input
                        type="text"
                        name="createdby"
                        id="created_by"
                        v-model="CreatedBy" />
                    </md-field>
                    <md-field>
                      <label>Date of Creation</label>
                      <md-input
                        readonly
                        type="text"
                        name="creationd"
                        id="dateofcreation"
                        v-model="CreationDate" />
                    </md-field>
                    <md-field>
                      <label >Purpose</label>
                      <md-input
                        type="text"
                        name="purpose"
                        id="purpose"
                        autocomplete="password"
                        v-model="PurposeOf" />
                    </md-field>
                    <md-field>
                      <label >Activity Type</label>
                      <md-input
                        type="text"
                        name="activity"
                        autocomplete="password"
                        v-model="ActivityType" />
                    </md-field>
                    <md-button
                      class="md-just-icon md-primary"
                      @click="showAdate = true">
                      <md-icon>event</md-icon>
                      <md-tooltip md-direction="top">Activation Date</md-tooltip>
                    </md-button>
                    <md-field>
                      <label>Activation Date</label>
                      <md-input
                        v-model="ActivationDate"
                        readonly
                        class="md-primary"/>
                    </md-field>
                    <date-picker
                      @close="showAdate=false"
                      v-if="showAdate"
                      v-model="ActivationDate"/>
                    <md-button
                      class="md-just-icon  md-primary"
                      @click="showIAdate = true">
                      <md-icon>event</md-icon>
                      <md-tooltip md-direction="top">InActivation Date</md-tooltip>
                    </md-button>
                    <md-field>
                      <label>In-Activation Date</label>
                      <md-input
                        v-model="IactivationDate"
                        readonly
                        class="md-primary"/>
                    </md-field>
                    <date-picker
                      @close="showIAdate= false"
                      v-if="showIAdate"
                      v-model="IactivationDate"
                    />
                    <md-field>
                      <label >Brand</label>
                      <md-input
                        type="text"
                        name="activity"
                        v-model="BrandOf" />
                    </md-field>
                  </md-card-content>
                  <md-progress-bar
                    md-mode="indeterminate"
                    v-if="sending" />
                  <md-card-actions>
                    <md-button
                      type="submit"
                      class="md-primary" >Create Form</md-button>
                  </md-card-actions>
                </md-card>
              </form>
            </md-card-content>
          </md-card>
        </div>
      </div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveGrantAccessForm">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Grant Access</h4>
            <p class="category">(You are able to grant users access to forms to administer to multiple respondents on a device)</p>
          </md-card-header>
          <md-card-content>
            <grant-access-form/>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveManageForms">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Manage Forms</h4>
            <p class="category">(On this page, you can see a preview of Forms created, delete any or send to contacts by email or SMS to fill and submit)</p>
          </md-card-header>
          <md-card-content>
            <manage-forms/>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveFormList">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Form List</h4>
            <p class="category">(Below are Forms created and ready for distribution or filling by respondents)</p>
          </md-card-header>
          <md-card-content>
            <form-list/>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveDownloadFilledForms">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Download Forms</h4>
            <p class="category">(Below are filled Forms auto-updated as filled by respondents)</p>
          </md-card-header>
          <md-card-content>
            <download-filled-forms/>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveDistributeForms">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Distribute Forms</h4>
            <p class="category">(Select form from dropdown and input contact details of respondents to be sent form by SMS or email )</p>
          </md-card-header>
          <md-card-content>
            <distribute-forms @eventDistributeSuccess="showDistributedSuccessMessage"/>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveTrackDistribution">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Track Distribution</h4>
            <!--<p class="category">Here is a subtitle for this table</p>-->
          </md-card-header>
          <md-card-content>
            <track-distribution/>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="isShowCreateSegment">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Create New Segment</h4>
            <!--<p class="category">Here is a subtitle for this table</p>-->
          </md-card-header>
          <md-card-content>
            <create-segment :segment="segment"/>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="isShowSegmentList">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Segment List</h4>
            <!--<p class="category">Here is a subtitle for this table</p>-->
          </md-card-header>
          <md-card-content>
            <segment-list
              v-on:event-segment-edit-click="ShowEditSegment"
              :segment.sync="segment"
            />
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveFormUseTrack">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Form Use Track</h4>
            <!--<p class="category">Here is a subtitle for this table</p>-->
          </md-card-header>
          <md-card-content>
            <form-use-track/>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveProfileAnalytics">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Profile Analytics</h4>
            <!--<p class="category">Here is a subtitle for this table</p>-->
          </md-card-header>
          <md-card-content>

            <div
              class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
              v-if="ActiveProfileAnalytics">
              <md-card>
                <md-card-header data-background-color="blue">
                  <h4 class="title">Analytics of Respondants</h4>
                  <!--<p class="category">Here is a subtitle for this table</p>-->
                </md-card-header>
                <md-card-content>
                  <chart-card
                    :chart-data="dailySalesChart.data"
                    :chart-options="dailySalesChart.options"
                    :chart-type="'Line'"
                    data-background-color="blue">
                    <template slot="content">
                      <h4 class="title">Analytics of Respondants</h4>
                      <p class="category">
                        <span class="text-success"><i class="fas fa-long-arrow-alt-up"/> 55% </span> increase in today sales.
                      </p>
                    </template>
                    <template slot="footer">
                      <div class="stats">
                        <md-icon>access_time</md-icon>
                        updated 4 minutes ago
                      </div>
                    </template>
                  </chart-card>
                </md-card-content>
              </md-card>
            </div>
            <div
              class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
              v-if="ActiveProfileAnalytics">
              <md-card>
                <md-card-header data-background-color="green">
                  <h4 class="title">Analytics of Form Fillings</h4>
                  <!--<p class="category">Here is a subtitle for this table</p>-->
                </md-card-header>
                <md-card-content>
                  <chart-card
                    :chart-data="dailySalesChart.data"
                    :chart-options="dailySalesChart.options"
                    :chart-type="'Bar'"
                    data-background-color="green">
                    <template slot="content">
                      <h4 class="title">Analytics of Form Fillings</h4>
                      <p class="category">
                        <span class="text-success"><i class="fas fa-long-arrow-alt-up"/> 55% </span> increase in today sales.
                      </p>
                    </template>
                    <template slot="footer">
                      <div class="stats">
                        <md-icon>access_time</md-icon>
                        updated 4 minutes ago
                      </div>
                    </template>
                  </chart-card>
                </md-card-content>
              </md-card>
            </div>
            <div
              class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
              v-if="ActiveProfileAnalytics">
              <md-card>
                <md-card-header data-background-color="blue">
                  <h4 class="title">Analytics of SMS Messages</h4>
                  <!--<p class="category">Here is a subtitle for this table</p>-->
                </md-card-header>
                <md-card-content>
                  <chart-card
                    :chart-data="dailySalesChart.data"
                    :chart-options="dailySalesChart.options"
                    :chart-type="'Line'"
                    data-background-color="blue">
                    <template slot="content">
                      <h4 class="title">Analytics of SMS Messages</h4>
                      <p class="category">
                        <span class="text-success"><i class="fas fa-long-arrow-alt-up"/> 90% </span> increase in today sales.
                      </p>
                    </template>
                    <template slot="footer">
                      <div class="stats">
                        <md-icon>access_time</md-icon>
                        updated 4 minutes ago
                      </div>
                    </template>
                  </chart-card>
                </md-card-content>
              </md-card>
            </div>
            <div
              class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
              v-if="ActiveProfileAnalytics">
              <md-card>
                <md-card-header data-background-color="green">
                  <h4 class="title">Analytics of Email Messages</h4>
                  <!--<p class="category">Here is a subtitle for this table</p>-->
                </md-card-header>
                <md-card-content>
                  <chart-card
                    :chart-data="dailySalesChart.data"
                    :chart-options="dailySalesChart.options"
                    :chart-type="'Line'"
                    data-background-color="green">
                    <template slot="content">
                      <h4 class="title">Analytics of Email Messages</h4>
                      <p class="category">
                        <span class="text-success"><i class="fas fa-long-arrow-alt-up"/> 80% </span> increase in today sales.
                      </p>
                    </template>
                    <template slot="footer">
                      <div class="stats">
                        <md-icon>access_time</md-icon>
                        updated 4 minutes ago
                      </div>
                    </template>
                  </chart-card>
                </md-card-content>
              </md-card>
            </div>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveUserProfileEdit">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Edit User Profile</h4>
            <!--<p class="category">Here is a subtitle for this table</p>-->
          </md-card-header>
          <md-card-content>
            <user-profile-edit/>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="DuplicateForm">
        <div style="padding-top: 2rem">
          <md-button
            style="margin: 5px; text-transform: none;"
            @click="onClickGeneralTemplate"
            class="md-accent">General Template</md-button>

          <md-button
            style="margin: 5px; text-transform: none;"
            class="md-accent"
            @click="CreateTemplatePressed" >Create New Form</md-button>

          <md-button
            style="margin: 5px; text-transform: none;"
            class="md-primary"
            @click="CreateDuplicateForm">Duplicate Form</md-button>
          <br>
        </div>
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Duplicate Form</h4>
            <!--<p class="category">Here is a subtitle for this table</p>-->
          </md-card-header>
          <md-card-content>
            <duplicate-form @eventFormDuplicated="showDuplicatedSuccessMessage"/>
          </md-card-content>
        </md-card>
      </div>

      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
        v-if="ActiveAccessManager">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Balance Account</h4>
            <!--<p class="category">Here is a subtitle for this table</p>-->
          </md-card-header>
          <md-card-content>
            <access-manager/>
          </md-card-content>
        </md-card>
      </div>
    </div>

  </div>
</template>

<script>
import DatePicker from 'vue-md-date-picker'
import axios from 'axios'
import {
  DynamicForm
} from '@/components'
import {
  required,
  email,
  minLength,
  maxLength

} from 'vuelidate/lib/validators'
import {
  SimpleTable
} from '@/components'
// import {
//     DuplicateForm
// } from '@/UserProfile'
import {
  EditProfileForm,
  UserCard
} from '@/pages'
import MdCardContent from '../../node_modules/vue-material/src/components/MdCard/MdCardContent/MdCardContent.vue';
import DuplicateForm from './DuplicateForm';
import ManageForms from './ManageForms';
import FormList from './FormList';
import DownloadFilledForms from './DownloadFilledForms';
import GrantAccessForm from './GrantAccessForm';
import OpenForm from './OpenForm';
import DistributeForms from './DistributeForms';
import TrackDistribution from './TrackDistribution';
import CreateNewSegment from './CreateNewSegmentBak';
import SegmentList from './SegmentList';
import FormUseTrack from './FormUseTrack';
import ChartCard from '../components/Cards/ChartCard';
import UserProfileEdit from './UserProfileEdit';
import AccessManager from './AccessManager';
import CreateSegment from './CreateSegment';
export default {
  data () {
    return {
      Token: null,
      isAuthenticated: !!localStorage.getItem('_token'),
      FormNamesArray: [],
      dateofcreation: new Date().getDate() + '/' + (new Date().getMonth() + 1) + '/' + new Date().getFullYear(),
      _token: null,
      isLoggedIn: false,
      dailySalesChart: {
        data: {
          labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
          series:
                    [
                      [12, 17, 7, 17, 23, 18, 38]
                    ]
        },

        options: {
          lineSmooth: this.$Chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: 50, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      },
      dataCompletedTasksChart: {
        data: {
          labels: ['12am', '3pm', '6pm', '9pm', '12pm', '3am', '6am', '9am'],
          series: [
            [230, 750, 450, 300, 280, 240, 200, 190]
          ]
        },

        options: {
          lineSmooth: this.$Chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: 1000, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      },
      emailsSubscriptionChart: {
        data: {
          labels: ['Ja', 'Fe', 'Ma', 'Ap', 'Mai', 'Ju', 'Jul', 'Au', 'Se', 'Oc', 'No', 'De'],
          series:
                    [
                      [542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895]

                    ]
        },

        options: {
          axisX: {
            showGrid: false
          },

          low: 0,
          high:
                    1000,
          chartPadding:
                    {
                      top: 0,
                      right:
                        5,
                      bottom:
                        0,
                      left:
                        0
                    }
        },

        responsiveOptions: [
          ['screen and (max-width: 640px)', {
            seriesBarDistance: 5,
            axisX: {
              labelInterpolationFnc: function (value) {
                return value[0]
              }
            }
          }]
        ]
      },
      showGeneralTemplateForm: false,
      ActivateFormClicked: false,
      ProfileManagementClicked: false,
      ProfileReviewClicked: false,
      ManagementAccountClicked: false,
      generalTemplateClicked: false,
      DuplicateFormClicked: false,
      CreateTemplate: false,
      showCreateFormForm: false,
      showCustomizeFormForm: false,
      showCreatedSuccessMessage: false,
      activationDate: null,
      inactivationDate: null,
      createdAtDate: null,
      DuplicateForm: false,
      ActiveDownloadFilledForms: false,
      ActiveFormList: false,
      ActiveManageForms: false,
      ActiveGrantAccessForm: false,
      ActiveDistributeForms: false,
      ActiveTrackDistribution: false,


      ActiveFormUseTrack: false,
      ActiveProfileAnalytics: false,
      ActiveUserProfileEdit: false,
      ActiveAccessManager: false,

      FormName: '',
      formNameForMessage: '',
      CreatedBy: '',
      CreationDate: new Date().getFullYear() + '/' + (new Date().getMonth() + 1) + '/' + new Date().getDate(),
      PurposeOf: '',
      ActivityType: '',
      ActivationDate: new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate(),
      IactivationDate: new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate(),
      showAdate: false,
      showIAdate: false,
      BrandOf: '',

      validations: {
        form: {
          formname: {
            required,
            minLength: minLength(7)
          },

          activity: {
            required,
            minLength: minLength(10)
          },

          purpose: {
            required,
            maxLength: maxLength(50)
          },

          createdBy: {
            required
          },

          password: {
            required,
            email
          }
        }
      },

      userSaved: false,
      sending: false,
      lastUser: null,
      duplicatedFormName: '',
      distributedFormName: '',
      currentFlow: '',

      isShowDuplicatedSuccessMessage: false,
      isShowDistributedSuccessMessage: false,
      isShowSegmentList: false,
      isShowCreateSegment: false,

      segment: null,
    };
  },
  methods: {
    hideAllView () {
      this.showGeneralTemplateForm = false
      this.showCreateFormForm = false
      this.DuplicateForm = false
      this.ActiveManageForms = false
      this.ActiveGrantAccessForm = false
      this.ActiveDownloadFilledForms = false
      this.ActiveFormList = false
      this.ActiveDistributeForms = false
      this.ActiveTrackDistribution = false
      this.isShowCreateSegment = false
      this.isShowSegmentList = false
      this.ActiveFormUseTrack = false
      this.ActiveProfileAnalytics = false
      this.ActiveUserProfileEdit = false
      this.ActiveAccessManager = false
      this.showCustomizeFormForm = false
      this.showCreatedSuccessMessage = false
      this.isShowDuplicatedSuccessMessage = false
      this.isShowDistributedSuccessMessage = false
      this.currentFlow = ''
    },
    ActiveAccessManagerpressed () {
      this.hideAllView()
      this.ActiveAccessManager = true
    },
    ActiveUserProfileEditpressed () {
      this.hideAllView()
      this.ActiveUserProfileEdit = true
    },
    ActiveProfileAnalyticspressed () {
      this.hideAllView()
      this.ActiveProfileAnalytics = true
    },
    ActiveFormUseTrackpressed () {
      this.hideAllView()
      this.ActiveFormUseTrack = true
    },
    ActiveSegmentListpressed () {
      this.hideAllView()
      this.isShowSegmentList = true
    },
    CreateNewSegmentpressed () {
      this.hideAllView();
      this.segment = null;
      this.isShowCreateSegment = true;
    },
    ShowEditSegment () {
      this.hideAllView();
      this.isShowCreateSegment = true;
    },
    TrackDistributionpressed () {
      this.hideAllView()
      this.ActiveTrackDistribution = true
    },
    DistributeFormspressed () {
      this.hideAllView()
      this.ActiveDistributeForms = true
    },
    FormListpressed () {
      this.hideAllView()
      this.ActiveFormList = true
    },
    DownloadFilledFormspressed () {
      this.hideAllView()
      this.ActiveDownloadFilledForms = true
    },
    GrantAccessFormpressed () {
      this.hideAllView()
      this.ActiveGrantAccessForm = true
    },
    ManageFormspressed () {
      this.hideAllView()
      this.ActiveManageForms = true
    },
    CreateDuplicateForm () {
      this.hideAllView()
      this.DuplicateForm = true
    },
    CreateTemplatePressed () {
      this.hideAllView()
      this.showCreateFormForm = true
    },
    onClickGeneralTemplateSubmitted (source) {
      this.hideAllView()
      this.currentFlow = source
      this.showCreateFormForm = true
    },
    onClickCustomizeForm () {
      this.hideAllView()
      this.showCreateFormForm = true
      this.currentFlow = 'customize-form'
      this.FormName = this.CreatedBy = this.PurposeOf = this.ActivityType = this.BrandOf = ''
    },
    onClickGeneralTemplate () {
      this.hideAllView()
      this.showGeneralTemplateForm = true
      this.currentFlow = 'general-template'
      this.FormName = this.CreatedBy = this.PurposeOf = this.ActivityType = this.BrandOf = ''
    },
    showFormCreatedSuccessMessage () {
      this.showCreatedSuccessMessage = true
    },
    showDuplicatedSuccessMessage (newFormName) {
      this.hideAllView()
      this.duplicatedFormName = newFormName
      this.isShowDuplicatedSuccessMessage = true
    },
    showDistributedSuccessMessage (formName) {
      this.hideAllView()
      this.distributedFormName = formName
      this.isShowDistributedSuccessMessage = true
    },
    onFormCreatedSuccess (source) {
      this.hideAllView()
      this.currentFlow = source
      this.showFormCreatedSuccessMessage()
    },
    ActivateFormPressed () {
      this.ActivateFormClicked = !this.ActivateFormClicked
    },
    ProfileManagementPressed () {
      this.ProfileManagementClicked = !this.ProfileManagementClicked
    },
    ManagmentAccountPressed () {
      this.ManagementAccountClicked = !this.ManagementAccountClicked
    },
    generalTemplatePressed () {
      this.generalTemplateClicked = !this.generalTemplateClicked
    },
    DuplicateFormPressed () {
      this.DuplicateFormClicked = !this.DuplicateFormClicked
    },
    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },
    clearForm () {
      this.$v.$reset()
      this.form.formname = null
      this.form.activity = null
      this.form.purpose = null
      this.form.password = null
      this.form.createdBy = null
    },
    saveUser () {
      this.sending = true

      // Instead of this timeout, here you can call your API
      window.setTimeout(() => {
        this.lastUser = `${this.form.firstName} ${this.form.lastName}`
        this.userSaved = true
        this.sending = false
        this.clearForm()
      }, 1500)
    },
    validateUserCustom (e) {
      e.preventDefault()
      var alliswell = 0
      let _this = this
      if (this.FormName === '' && this.CreatedBy === '' && this.PurposeOf === '' && this.ActivityType === '' && this.ActivationDate === '' &&
                  this.IactivationDate === '' && this.BrandOf === '') {
        alert('fill the fields')
        alliswell = 1
      }
      if (this.CreatedBy === '') {
        alert('Created by ?')
        alliswell = 1
      }
      if (this.PurposeOf === '') {
        alert('Purpose?')
        alliswell = 1
      }
      if (this.ActivityType === '') {
        alert('Activity Type?')
        alliswell = 1
      }
      if (this.ActivationDate === '') {
        alert('Activation Date')
        alliswell = 1
      }
      if (this.IactivationDate === '') {
        alert('Inactivation Date')
        alliswell = 1
      }
      if (this.BrandOf === '') {
        alert('Brand?')
        alliswell = 1
      }
      if (alliswell === 0) {
        this.Token = localStorage.getItem('_token')

        var that = this
        var urlforreq = `${process.env.VUE_APP_API_URI}/getallformnamesbynme/${this.FormName}`
        axios.get(urlforreq, {
          headers: {
            Authorization: 'Bearer ' + this.Token
          }
        }).then(function (response) {
          console.log(response.data)
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear()
            _this.$router.push('login')
          }
          if (response.data === that.FormName) {
            alert('Form Name Already exist')
          } else {
            that.showCreateFormForm = false
            if (that.currentFlow === 'customize-form') {
              that.showCustomizeFormForm = true
            } else if (that.currentFlow === 'general-template') {
              that.createGeneralTemplateForm(e)
            }

          }
        })
      }
    },

    validateUser () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.saveUser()
      }
    },

    createGeneralTemplateForm (e) {
      let url = `${process.env.VUE_APP_API_URI}/setdyform`
      let _this = this
      var datajson = {
        userid: localStorage.getItem('u_id'),
        fields: 'Title,First Name,Last Name,Place of work,Phone Number,Email,Address,State,Country,',
        sigstatus: 'active',
        pstatement: 'We\'re an organisation with a strict privacy policy. By submitting your details you are agreed to receive occasional e-mails from us about events refresh and Special offers',
        radiostatus: 'one',
        radioactive: false,
        formname: this.FormName,
        createdby: this.CreatedBy,
        creationdate: this.CreationDate.toString().split('/').join('-'),
        purpose: this.PurposeOf,
        activitytype: this.ActivityType,
        activationdate: this.ActivationDate,
        iactivationdate: this.IactivationDate,
        brandof: this.BrandOf,
        ackn_email: 'Email',
        smsmessage: 'SMS'
      }
      axios.post(url, datajson, {
        headers: {
          Authorization: 'Bearer ' + this.Token
        }
      }).then(function (response) {
        console.log(response.data)
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear()
          _this.$router.push('login')
        }
        if (response.data === 'Form Created') {
          _this.showCreatedSuccessMessage = true
        }
      })
    }

  },
  components: {
    DatePicker,
    AccessManager,
    UserProfileEdit,
    ChartCard,
    FormUseTrack,
    SegmentList,
    CreateNewSegment,
    CreateSegment,
    TrackDistribution,
    DistributeForms,
    // OpenForm,
    GrantAccessForm,
    DownloadFilledForms,
    FormList,
    ManageForms,
    DuplicateForm,
    MdCardContent,
    // EditProfileForm,
    SimpleTable,
    DynamicForm
    //    UserCard
  }

}
</script>
<style scoped>
    small {
        display: block;
    }
    .spank {
        margin-left: 20%;
        font-size: 1.5rem;
        font-weight: bold;
        background: #513d3d;
        color: white;
        border: 1px solid;

    }

</style>
