<template>
  <div>

    <md-menu
      style="margin:1rem"
      md-direction="bottom-end">
      <md-button
        md-menu-trigger
        class="md-primary">Profile Form</md-button>

      <md-menu-content>
        <md-menu-item @click="CreateFormPressed">Create Form</md-menu-item>
        <md-menu-item @click="ManageFormPressed">Manage Form</md-menu-item>
        <md-menu-item @click="FormListPressed">Form List</md-menu-item>
        <md-menu-item @click="DownloadFilledFormPressed">Download Filled Forms</md-menu-item>
        <md-menu-item @click="GrantAccessPressed">Grant Access to Users</md-menu-item>
      </md-menu-content>
    </md-menu>

    <md-menu style="margin:1rem">
      <md-button
        md-menu-trigger
        class="md-primary">Activate Form</md-button>

      <md-menu-content>
        <md-menu-item @click="DistributePressed">Distribute</md-menu-item>
        <md-menu-item @click="TrackDistPressed">Track Distribution</md-menu-item>

      </md-menu-content>
    </md-menu>

    <md-menu style="margin:1rem">
      <md-button
        md-menu-trigger
        class="md-primary">Profile Managment</md-button>

      <md-menu-content>
        <md-menu-item @click="NewSegmentPressed">Create New Segment</md-menu-item>
        <md-menu-item @click="SegmentListPressed">Segment List</md-menu-item>

      </md-menu-content>
    </md-menu>

    <md-menu style="margin:1rem">
      <md-button
        md-menu-trigger
        class="md-primary">Profile Review</md-button>

      <md-menu-content>
        <md-menu-item @click="ProfileAnaPressed">Profile Analytics</md-menu-item>
        <md-menu-item @click="FormUseTrackerPressed">Form Use Tracker</md-menu-item>

      </md-menu-content>
    </md-menu>

    <md-menu style="margin:1rem">
      <md-button
        md-menu-trigger
        class="md-primary">Manage Account</md-button>

      <md-menu-content>
        <md-menu-item @click="UserProfilePressed">User Profile</md-menu-item>
        <md-menu-item @click="AccountBalancePressed">Account Balance</md-menu-item>

      </md-menu-content>
    </md-menu>

    <sub-header
      :create-pressed="createFormclicked"
      :mg-pressed="manageFormclicked"
      :fm-pressed="formListPressed"
      :dw-pressed="downloadFilledFormPressed"
      :gw-pressed="grantAccessPressed"
      :dist-pressed="distributionPressed"
      :track-pressed="trackDistPressed"
      :nw-pressed="newSegmentPressed"
      :sg-pressed="segmentListPressed"
      :profile-ana="profileAnalyticsPressed"
      :form-tracker="formUseTrackerPressed"
      :user-pressed="userProfilePressed"
      :account-pressed="accountBalancePressed"
    />

  </div>

</template>

<script>
import SubHeader from '../UserProfile/SubHeader.vue'
export default {
  components: {
    SubHeader
  },

  data: () => ({
    createFormclicked: false,
    manageFormclicked: false,
    formListPressed: false,
    downloadFilledFormPressed: false,
    grantAccessPressed: false,
    distributionPressed: false,
    trackDistPressed: false,
    newSegmentPressed: false,
    segmentListPressed: false,
    profileAnalyticsPressed: false,
    formUseTrackerPressed: false,
    userProfilePressed: false,
    accountBalancePressed: false
  }),

  methods: {

    CreateFormPressed (event) {
      this.createFormclicked = true
      this.$emit('clicked', 'showform')
      this.manageFormclicked = false
      this.formListPressed = false
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = false
      this.distributionPressed = false
      this.trackDistPressed = false
      this.newSegmentPressed = false
      this.segmentListPressed = false
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = false
      this.userProfilePressed = false
      this.accountBalancePressed = false
    },
    ManageFormPressed () {
      this.createFormclicked = false
      this.$emit('clicked', 'managepressed')
      this.manageFormclicked = true
      this.formListPressed = false
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = false
      this.distributionPressed = false
      this.trackDistPressed = false
      this.newSegmentPressed = false
      this.segmentListPressed = false
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = false
      this.userProfilePressed = false
      this.accountBalancePressed = false
    },
    FormListPressed () {
      this.createFormclicked = false
      this.manageFormclicked = false
      this.$emit('clicked', 'showformlist')
      this.formListPressed = true
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = false
      this.distributionPressed = false
      this.trackDistPressed = false
      this.newSegmentPressed = false
      this.segmentListPressed = false
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = false
      this.userProfilePressed = false
      this.accountBalancePressed = false
    },
    DownloadFilledFormPressed (event) {
      this.createFormclicked = false
      this.manageFormclicked = false
      this.$emit('clicked', 'downloadfilled')
      this.formListPressed = false
      this.downloadFilledFormPressed = true
      this.grantAccessPressed = false
      this.distributionPressed = false
      this.trackDistPressed = false
      this.newSegmentPressed = false
      this.segmentListPressed = false
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = false
      this.userProfilePressed = false
      this.accountBalancePressed = false
    },
    GrantAccessPressed () {
      this.createFormclicked = false
      this.manageFormclicked = false
      this.formListPressed = false
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = true
      this.distributionPressed = false
      this.trackDistPressed = false
      this.newSegmentPressed = false
      this.segmentListPressed = false
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = false
      this.userProfilePressed = false
      this.accountBalancePressed = false
    },
    DistributePressed () {
      this.createFormclicked = false
      this.manageFormclicked = false
      this.formListPressed = false
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = false
      this.distributionPressed = true
      this.trackDistPressed = false
      this.newSegmentPressed = false
      this.segmentListPressed = false
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = false
      this.userProfilePressed = false
      this.accountBalancePressed = false
    },
    TrackDistPressed () {
      this.createFormclicked = false
      this.manageFormclicked = false
      this.formListPressed = false
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = false
      this.distributionPressed = false
      this.trackDistPressed = true
      this.newSegmentPressed = false
      this.segmentListPressed = false
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = false
      this.userProfilePressed = false
      this.accountBalancePressed = false
    },
    NewSegmentPressed () {
      this.createFormclicked = false
      this.manageFormclicked = false
      this.formListPressed = false
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = false
      this.distributionPressed = false
      this.trackDistPressed = false
      this.newSegmentPressed = true
      this.segmentListPressed = false
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = false
      this.userProfilePressed = false
      this.accountBalancePressed = false
    },
    SegmentListPressed () {
      this.createFormclicked = false
      this.manageFormclicked = false
      this.formListPressed = false
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = false
      this.distributionPressed = false
      this.trackDistPressed = false
      this.newSegmentPressed = false
      this.segmentListPressed = true
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = false
      this.userProfilePressed = false
      this.accountBalancePressed = false
    },
    ProfileAnaPressed () {
      this.createFormclicked = false
      this.manageFormclicked = false
      this.formListPressed = false
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = false
      this.distributionPressed = false
      this.trackDistPressed = false
      this.newSegmentPressed = false
      this.segmentListPressed = false
      this.profileAnalyticsPressed = true
      this.formUseTrackerPressed = false
      this.userProfilePressed = false
      this.accountBalancePressed = false
    },
    FormUseTrackerPressed () {
      this.createFormclicked = false
      this.manageFormclicked = false
      this.formListPressed = false
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = false
      this.distributionPressed = false
      this.trackDistPressed = false
      this.newSegmentPressed = false
      this.segmentListPressed = false
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = true
      this.userProfilePressed = false
      this.accountBalancePressed = false
    },
    UserProfilePressed () {
      this.createFormclicked = false
      this.manageFormclicked = false
      this.formListPressed = false
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = false
      this.distributionPressed = false
      this.trackDistPressed = false
      this.newSegmentPressed = false
      this.segmentListPressed = false
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = false
      this.userProfilePressed = true
      this.accountBalancePressed = false
    },
    AccountBalancePressed () {
      this.createFormclicked = false
      this.manageFormclicked = false
      this.formListPressed = false
      this.downloadFilledFormPressed = false
      this.grantAccessPressed = false
      this.distributionPressed = false
      this.trackDistPressed = false
      this.newSegmentPressed = false
      this.segmentListPressed = false
      this.profileAnalyticsPressed = false
      this.formUseTrackerPressed = false
      this.userProfilePressed = false
      this.accountBalancePressed = true
    }

  },
  ready () {
    console.log('here')
    this.createFormclicked = true
  }
}
</script>

<style scoped>

</style>
