<template>

  <div class="md-layout-item md-medium-size-100 md-size-66" >

    <div
      style="padding-top: 2rem"
      v-if="createPressed">
      <md-button
        style="margin: 5px; text-transform: none;"
        class="md-accent">General Template</md-button>

      <md-button
        style="margin: 5px; text-transform: none;"
        class="md-accent">Create New Form</md-button>

      <md-button
        style="margin: 5px; text-transform: none;"
        class="md-accent">Duplicate Form</md-button>
      <br>
    </div>
    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="createPressed">
      General Template
    </md-button>

    <div
      style="padding-top: 2rem"
      v-if="nwPressed">
      <md-button
        style="margin: 5px;"
        @click=""
        class="md-accent">Enter Segment Name </md-button>

      <md-button
        style="margin: 5px;"
        class="md-accent">Segment Description</md-button>

      <md-button
        style="margin: 5px;"
        class="md-accent">Brand of Focus</md-button>

      <md-button
        style="margin: 5px;"
        class="md-accent">Created By</md-button>
      <md-button
        style="margin: 5px;"
        class="md-accent">Date Created By</md-button>
      <md-button class="md-fab md-primary">
        <md-icon>add</md-icon>
      </md-button>

      <br>
    </div>
    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="nwPressed">
      Create New Segment
    </md-button>

    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="distPressed">
      Distribution Forms
    </md-button>

    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="mgPressed">
      Manage Forms
    </md-button>

    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="fmPressed">
      Form List
    </md-button>
    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="dwPressed">
      Download Filled Forms
    </md-button>

    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="gwPressed">
      Grant Access
    </md-button>

    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="trackPressed">
      Track Distribution
    </md-button>

    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="sgPressed">
      Segment List
    </md-button>

    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="formTracker">
      Form Use Tracker
    </md-button>

    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="profileAna">
      Profile Analysis
    </md-button>

    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="accountPressed">
      Access Manager
    </md-button>

    <md-button
      style="padding:1rem 4rem 0rem 4rem; margin-left: 20%; margin-top: 5%"
      class="md-primary"
      v-if="userPressed" >
      User Profile
    </md-button>

  </div>

</template>

<script>
export default {
  components: {

  },
  props: {
    createPressed: Boolean,
    mgPressed: Boolean,
    fmPressed: Boolean,
    dwPressed: Boolean,
    gwPressed: Boolean,
    distPressed: Boolean,
    trackPressed: Boolean,
    nwPressed: Boolean,
    sgPressed: Boolean,
    profileAna: Boolean,
    formTracker: Boolean,
    userPressed: Boolean,
    accountPressed: Boolean

  },

  data: () => ({

    isAuthenticated: !!localStorage.getItem('_token')

  })

}
</script>

<style scoped>

</style>
