<template>
  <div
    class="wrapper"
    :class="{'nav-open': $sidebar.showSidebar}">
    <notifications/>

    <side-bar>
      <mobile-menu slot="content"/>
      <sidebar-link to="/dashboard">
        <md-icon>dashboard</md-icon>
        <p>About i-ProfilerPro</p>
      </sidebar-link>
      <sidebar-link
        v-show="this.isAuthenticated"
        to="/user">
        <md-icon>person</md-icon>
        <p >User Profile</p>
      </sidebar-link>
      <sidebar-link to="/login">
        <md-icon>library_books</md-icon>
        <p>Client Login</p>
      </sidebar-link>
      <!--<sidebar-link to="icons">-->
      <!--<md-icon>bubble_chart</md-icon>-->
      <!--<p>How it Works</p>-->
      <!--</sidebar-link>-->
      <!--<sidebar-link to="form">-->
      <!--<md-icon>location_on</md-icon>-->
      <!--<p>Services</p>-->
      <!--</sidebar-link>-->
      <!--<sidebar-link to="/notifications">-->
      <!--<md-icon>notifications</md-icon>-->
      <!--<p>Contact Us</p>-->
      <!--</sidebar-link>-->

    </side-bar>

    <div class="main-panel">
      <top-navbar/>

      <dashboard-content/>

      <!--<content-footer v-if="!$route.meta.hideFooter"></content-footer>-->
    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
import TopNavbar from './TopNavbar.vue'
import ContentFooter from './ContentFooter.vue'
import DashboardContent from './Content.vue'
import MobileMenu from '@/pages/Layout/MobileMenu.vue'

export default {

  components: {
    TopNavbar,
    DashboardContent,
    //    ContentFooter,
    MobileMenu
  },

  data: () => ({

    isAuthenticated: !!localStorage.getItem('_token')

  }),

  mounted () {
    var that = this
    setInterval(function () {
      that.isAuthenticated = !!localStorage.getItem('_token')
    }, 3000)
  }

}
</script>
